# Pipeline 1

In [1]:
from pipeline import Falcon2Linker, SerialAnnotator, T5Converter
import time
from pprint import pprint

In [2]:
linker = Falcon2Linker()
annotator = SerialAnnotator()
converter = T5Converter()

In [3]:
utterance = "Who is the wife of Barack Obama"

In [4]:
linked = linker.link(utterance)
# rules = [1,2,3,4,5,8,9,10,12,13,14]
# linked = process_text_E_R(utterance, rules)
pprint("Linked")
pprint(linked)

pprint("Annotated")
annotated = annotator.annotate(**linked)
pprint(annotated)

pprint("Converted")
converted = converter.preprocess_inputs(**annotated)
pprint(converted)

recieved utterance
0 : ['Who is the wife of Barack Obama']

[reRank_relations]: who is the wife of Barack Obama
SPARQL Requests Made: 1
SPARQL Requests Total Time: 2.742044687271118
SPARQL Avg Time per Qn: 2.742044687271118
['Who is the wife of Barack Obama', [['<http://www.wikidata.org/entity/P26>', 'wife'], ['<http://www.wikidata.org/entity/P2848>', 'wife'], ['<http://www.wikidata.org/entity/P140>', 'wife'], ['<http://www.wikidata.org/entity/P451>', 'wife'], ['<http://www.wikidata.org/entity/P600>', 'wife']], [['<http://www.wikidata.org/entity/Q76>', 'Barack obama'], ['<http://www.wikidata.org/entity/Q649593>', 'Barack obama'], ['<http://www.wikidata.org/entity/Q4808526>', 'Barack obama'], ['<http://www.wikidata.org/entity/Q4858106>', 'Barack obama'], ['<http://www.wikidata.org/entity/Q643049>', 'Barack obama']], 0, 0, 0, 0]
'Linked'
{'ents': [{'id': 'Q76',
           'prefix': 'wd:',
           'uri': 'http://www.wikidata.org/entity/Q76'},
          {'id': 'Q649593',
           'prefix': 'wd:',
           'uri': 'http://www.wikidata.org/entity/Q649593'},
          {'id': 'Q4808526',
           'prefix': 'wd:',
           'uri': 'http://www.wikidata.org/entity/Q4808526'},
          {'id': 'Q4858106',
           'prefix': 'wd:',
           'uri': 'http://www.wikidata.org/entity/Q4858106'},
          {'id': 'Q643049',
           'prefix': 'wd:',
           'uri': 'http://www.wikidata.org/entity/Q643049'}],
 'rels': [{'id': 'P26',
           'prefix': 'wdt:',
           'uri': 'http://www.wikidata.org/prop/direct/P26'},
          {'id': 'P2848',
           'prefix': 'wdt:',
           'uri': 'http://www.wikidata.org/prop/direct/P2848'},
          {'id': 'P140',
           'prefix': 'wdt:',
           'uri': 'http://www.wikidata.org/prop/direct/P140'},
          {'id': 'P451',
           'prefix': 'wdt:',
           'uri': 'http://www.wikidata.org/prop/direct/P451'},
          {'id': 'P600',
           'prefix': 'wdt:',
           'uri': 'http://www.wikidata.org/prop/direct/P600'}],
 'utterance': 'Who is the wife of Barack Obama'}
'Annotated'

{'fragments': ['[DEF]',
               'wd:',
               'Q76 Barack Obama',
               '[DEF]',
               'wd:',
               'Q649593 Barack Obama Sr.',
               '[DEF]',
               'wd:',
               'Q4808526 assassination threats against Barack Obama',
               '[DEF]',
               'wd:',
               'Q4858106 Barack Obama Academy',
               '[DEF]',
               'wd:',
               'Q643049 family of Barack Obama',
               '[DEF]',
               'wdt:',
               'P26 spouse',
               '[DEF]',
               'wdt:',
               'P2848 Wi-Fi access',
               '[DEF]',
               'wdt:',
               'P140 religion',
               '[DEF]',
               'wdt:',
               'P451 unmarried partner',
               '[DEF]',
               'wdt:',
               'P600 Wine AppDB ID'],
 'utterance': 'Who is the wife of Barack Obama'}
'Converted'
('Who is the wife of Barack Obama <extra_id_59> <extra_id_53> Q76 Barack Obama '
 '<extra_id_59> <extra_id_53> Q649593 Barack Obama Sr. <extra_id_59> '
 '<extra_id_53> Q4808526 assassination threats against Barack Obama '
 '<extra_id_59> <extra_id_53> Q4858106 Barack Obama Academy <extra_id_59> '
 '<extra_id_53> Q643049 family of Barack Obama <extra_id_59> <extra_id_54> P26 '
 'spouse <extra_id_59> <extra_id_54> P2848 Wi-Fi access <extra_id_59> '
 '<extra_id_54> P140 religion <extra_id_59> <extra_id_54> P451 unmarried '
 'partner <extra_id_59> <extra_id_54> P600 Wine AppDB ID')

In [5]:
def pipe(utterance, wikisparql):
    linked = linker.link(utterance)
    annotated = annotator.annotate(**linked)
    converted = converter.preprocess(**annotated, wikisparql=wikisparql)
    return linked, annotated, converted

In [6]:
def pipe_batch(utterances, wikisparqls):
  batched = []
  link_batch_start = time.time()
  linked = linker.link_batch(utterances)
  link_batch_end = time.time()
  annotator_time = 0
  converter_time = 0
  for i, single_linked in enumerate(linked):
    s = time.time()
    annotated = annotator.annotate(**single_linked)
    e = time.time()
    try:
      annotator_time += e - s
    except Exception as e:
      print("[Annotator Error]:", e)
      continue
    s = time.time()
    try:
      converted = converter.preprocess(**annotated, wikisparql=wikisparqls[i])
    except Exception as e:
      print("[Converter Error]:", e)
      continue
      
    e = time.time()
    converter_time += e - s
    batched.append([single_linked, annotated, converted])
  print("Link batch time:", link_batch_end - link_batch_start)
  print("Anno batch time:", annotator_time)
  print("Conv batch time:", converter_time)
  return batched

## Data

In [7]:
from pathlib import Path
import pandas as pd
import json

data_path = Path("..") / "t5-for-sparql" / "data" / "lcquad2" / "train.json"

In [8]:
from pprint import pprint
with open(data_path) as f:
  data_dict = json.load(f)

count = 0

for item in data_dict:
  paraphrased_question = item["paraphrased_question"]
  question = item["question"]
  if paraphrased_question == None:
    raise Exception
  if question == None:
    count += 1
    # print(len(paraphrased_question) > 2)
    # pprint(item)
  if item["sparql_wikidata"] == None:
    raise Exception
  
  item["new_question"] = paraphrased_question if len(paraphrased_question) > 2 and paraphrased_question != [] else question

print("Missing question count:", count)

df = pd.DataFrame.from_dict(data_dict)
df = df.dropna(axis=0, subset=['new_question'])
n_entries = len(df)
print("Number of rows:", n_entries)

Missing question count: 56
Number of rows: 24125

In [9]:
assert(len(df[df.sparql_wikidata.isna()]) == 0)

In [10]:
responses = []
batch_qns = []
batch_ans = []
truncated_data = data_dict[:6000]
total_len = len(truncated_data)
last = 0
for i, data in enumerate(truncated_data):
    print("Pipeline iter", i)
    question = data["new_question"]
    answer = data["sparql_wikidata"]
    # try
    #     linked, annotated, converted = pipe(question, answer)
    # except Exception as e:
    #     print(e)
    #     continue
    # responses.append([linked, annotated, converted])
    if (question and answer) and len(question) >= 2:
        batch_qns.append(question)
        batch_ans.append(answer)
    if ((i + 1) % 50) == 0 or i == total_len - 1:
        print("[Pipeline1]:", f"Linking {last}-{i}")
        try:
            for linked, annotated, converted in pipe_batch(batch_qns, batch_ans):
                responses.append([linked, annotated, converted])
            batch_qns = []
            batch_ans = []
            last = i
        except Exception as e:
            raise e
            # print(e)
            # continue
        with open(f"../t5-for-sparql/falcon_links/2/link_{i}.json", "w") as f:
            json.dump(responses, f, indent=2, separators=(',',':'))

Pipeline iter 0
Pipeline iter 1
Pipeline iter 2
Pipeline iter 3
Pipeline iter 4
Pipeline iter 5
Pipeline iter 6
Pipeline iter 7
Pipeline iter 8
Pipeline iter 9
Pipeline iter 10
Pipeline iter 11
Pipeline iter 12
Pipeline iter 13
Pipeline iter 14
Pipeline iter 15
Pipeline iter 16
Pipeline iter 17
Pipeline iter 18
Pipeline iter 19
Pipeline iter 20
Pipeline iter 21
Pipeline iter 22
Pipeline iter 23
Pipeline iter 24
Pipeline iter 25
Pipeline iter 26
Pipeline iter 27
Pipeline iter 28
Pipeline iter 29
Pipeline iter 30
Pipeline iter 31
Pipeline iter 32
Pipeline iter 33
Pipeline iter 34
Pipeline iter 35
Pipeline iter 36
Pipeline iter 37
Pipeline iter 38
Pipeline iter 39
Pipeline iter 40
Pipeline iter 41
Pipeline iter 42
Pipeline iter 43
Pipeline iter 44
Pipeline iter 45
Pipeline iter 46
Pipeline iter 47
Pipeline iter 48
Pipeline iter 49
[Pipeline1]: Linking 0-49
1 : ['What is Delta Air Lines periodical literature mouthpiece?']
1 : ['What is the name of Ranavalona Is husbands child?']
1 : ['Are Jeff Bridges and Lane Chandler both photographers?']
1 : ['What range are the papers at the Monique Genonceaux about?']
1 : ['Which is the operating income for Qantas?']
1 : ['which cola begins with the letter p']
1 : ['Does malin 1 have a right ascension lower than 15.1398?']
1 : ['What is the total list of records discharged by Jerry Lee Lewis?']
1 : ['What is Mary Lou Rettons International Olympic Committee athlete ID.']
1 : ['Who won the prize at the spin-off of the 1885 Wimbledon Championships- Gentlemens Singles?']
1 : ['Does the iPhone X Max have a carbon footprint of 106?']
1 : ['Tell me the female splendor festival that operates in all countries and contains the phrase model in it is name?']
1 : ['In 1999 and 2019, was Lindsey Vonn in the FIS Alpine World Ski Championships?']
1 : ['On November 10, 1994, what was Angela Merkels role?']
1 : ['What was the population of Spokane at the beginning of 2007?']
1 : ['What basic pharmaceutical is required to treat leprosy?']
1 : ['Which is HanCinema person ID for Zhang Ziyi?']
1 : ['Was the Tony Award for best direction of the play Premium Imperiale given to Judi Densch?']
1 : ['Copper as 4703.0 has a boiling boint of what?']
1 : ['why Marathon had this name and the current record is?']
1 : ['Who Sleepwalking succeeded in playing Sleepwalking?']
1 : ['In 1983, what nomination did Clifton Chenier receive?']
1 : ['Which is the wear for Ambrose Burnside?']
1 : ['What flammable liquid has the least lower flammable limit in Class IB?']
1 : ['What is the material used and accredited by means of Mojito?']
1 : ['In this topic, give a summary of Koreas history']
1 : ['Which is {scene of} of {Virgin of the rocks}, which has {birth city} is {Tzippori} ?']
1 : ['Is the Fielders Stadium owned by Kevin Costner?']
1 : ['Which is the YouTube channel ID for Miley Cyrus?']
1 : ['What could be a aptitude that begins with the letter s.']
1 : ['Give me the dimensions of Captain America']
1 : ['What award did Danila Kozlovsky get in 2017?']

2 : ['Who is the understudy that coined the Euler-Lagrange equation?']

3 : ['Which website does Twitch own?']

4 : ['Is the negligible deadly dosage of the benzene rise to to 170000?']
5 : ['Who is the person Ivan Pavlovs student?']

6 : ['is the clock speed of the Watara Supervision littler than 3.2?']
[reRank_relations]: which website does Twitch own
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
[reRank_relations]: which website does Twitch own
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
7 : ['What country leads the African Union?']
[reRank_relations]: are Jeff Bridges and Lane Chandler both photographers
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
[reRank_relations]: who Sleepwalking succeeded in playing Sleepwalking
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0

8 : ['The accused Mariposa Folk Festival in 1974 employed whom?']

9 : ['N / A N / A']
[reRank_relations]: which is HanCinema person ID for Zhang Ziyi
SPARQL Requests Made: 1
SPARQL Requests Total Time: 2.1943161487579346
SPARQL Avg Time per Qn: 2.1943161487579346
[reRank_relations]: which is HanCinema person ID for Zhang Ziyi
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
10 : ['Which sister city in Zakhar Oskotsky was born?']
[reRank_relations]: what was the population of Spokane at the beginning of 2007
SPARQL Requests Made: 1
SPARQL Requests Total Time: 1.2744052410125732
SPARQL Avg Time per Qn: 1.2744052410125732
11 : ['Let me know the title of a fantastique sort that begins with the letter s.']
12 : ['What is the medal Angela Lansbury recieved?']

[reRank_relations]: which is the YouTube channel ID for Miley Cyrus
SPARQL Requests Made: 3
SPARQL Requests Total Time: 3.753237009048462
SPARQL Avg Time per Qn: 1.251079003016154

[reRank_relations]: which sister city in Zakhar Oskotsky was born
SPARQL Requests Made: 2
SPARQL Requests Total Time: 1.489260196685791
SPARQL Avg Time per Qn: 0.7446300983428955

[reRank_relations]: which sister city in Zakhar Oskotsky was born
SPARQL Requests Made: 3
SPARQL Requests Total Time: 2.210712194442749
SPARQL Avg Time per Qn: 0.7369040648142496
[reRank_relations]: which sister city in Zakhar Oskotsky was born
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
13 : ['What is the musical rating by means of Missa Solemnis that has mother Maria Magdalena van Beethoven?']

[reRank_relations]: who won the prize at the spin-off of the 1885 Wimbledon Championships- Gentlemens Singles
SPARQL Requests Made: 5
SPARQL Requests Total Time: 4.7950873374938965
SPARQL Avg Time per Qn: 0.9590174674987793
14 : ['When did Robert De Nirolive in Marbletown?']

[reRank_relations]: which is the operating income for Qantas
SPARQL Requests Made: 8
SPARQL Requests Total Time: 7.75108528137207
SPARQL Avg Time per Qn: 0.9688856601715088

[reRank_relations]: was the Tony Award for best direction of the play Premium Imperiale given to Judi Densch
SPARQL Requests Made: 9
SPARQL Requests Total Time: 7.018003225326538
SPARQL Avg Time per Qn: 0.7797781361473931
[reRank_relations]: was the Tony Award for best direction of the play Premium Imperiale given to Judi Densch
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
15 : ['Let me know organization whose title has the word zollkriminalamt in it.']
[reRank_relations]: does malin 1 have a right ascension lower than 151398
SPARQL Requests Made: 9
SPARQL Requests Total Time: 7.796179533004761
SPARQL Avg Time per Qn: 0.8662421703338623
16 : ['Which country in the International Centre for Settlement of Investment Disputes has the highest inflation rate?']
[reRank_relations]: which is the operating income for Qantas
SPARQL Requests Made: 1
SPARQL Requests Total Time: 0.743370532989502
SPARQL Avg Time per Qn: 0.743370532989502
17 : ['Did Brittany Murphy have USA citizenship?']

[reRank_relations]: is the Fielders Stadium owned by Kevin Costner
SPARQL Requests Made: 12
SPARQL Requests Total Time: 10.056481838226318
SPARQL Avg Time per Qn: 0.8380401531855265
[reRank_relations]: is the Fielders Stadium owned by Kevin Costner
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
18 : ['Who is Hank Azaria married to ?']

[reRank_relations]: who is Hank Azaria married to
SPARQL Requests Made: 1
SPARQL Requests Total Time: 0.7341210842132568
SPARQL Avg Time per Qn: 0.7341210842132568
[reRank_relations]: who is Hank Azaria married to
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
19 : ['Is 11 the maximum age of St. Peters Junior School?']
[reRank_relations]: which is the wear for Ambrose Burnside
SPARQL Requests Made: 13
SPARQL Requests Total Time: 11.037207841873169
SPARQL Avg Time per Qn: 0.8490159878363976

[reRank_relations]: when did Robert De Nirolive in Marbletown
SPARQL Requests Made: 10
SPARQL Requests Total Time: 7.366475820541382
SPARQL Avg Time per Qn: 0.7366475820541382

[reRank_relations]: what is Mary Lou Rettons International Olympic Committee athlete ID
SPARQL Requests Made: 18
SPARQL Requests Total Time: 14.468961715698242
SPARQL Avg Time per Qn: 0.8038312064276801

[reRank_relations]: which is the YouTube channel ID for Miley Cyrus
SPARQL Requests Made: 15
SPARQL Requests Total Time: 11.69153094291687
SPARQL Avg Time per Qn: 0.779435396194458

[reRank_relations]: why Marathon had this name and the current record is
SPARQL Requests Made: 20
SPARQL Requests Total Time: 16.051148176193237
SPARQL Avg Time per Qn: 0.8025574088096619

[reRank_relations]: which country in the International Centre for Settlement of Investment Disputes has the highest inflation rate
SPARQL Requests Made: 18
SPARQL Requests Total Time: 14.022466897964478
SPARQL Avg Time per Qn: 0.7790259387758043

[reRank_relations]: who Sleepwalking succeeded in playing Sleepwalking
SPARQL Requests Made: 28
SPARQL Requests Total Time: 22.763853311538696
SPARQL Avg Time per Qn: 0.812994761126382

[reRank_relations]: what is the total list of records discharged by Jerry Lee Lewis
SPARQL Requests Made: 30
SPARQL Requests Total Time: 25.367780923843384
SPARQL Avg Time per Qn: 0.8455926974614462
[reRank_relations]: what is the total list of records discharged by Jerry Lee Lewis
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0

[reRank_relations]: what is the name of Ranavalona Is husbands child
SPARQL Requests Made: 72
SPARQL Requests Total Time: 56.43311047554016
SPARQL Avg Time per Qn: 0.7837932010491689
[reRank_relations]: what is the name of Ranavalona Is husbands child
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0

[reRank_relations]: what basic pharmaceutical is required to treat Leprosy
SPARQL Requests Made: 79
SPARQL Requests Total Time: 63.55764055252075
SPARQL Avg Time per Qn: 0.8045270956015285

[reRank_relations]: what country leads the African Union
SPARQL Requests Made: 90
SPARQL Requests Total Time: 68.98589301109314
SPARQL Avg Time per Qn: 0.7665099223454793

[reRank_relations]: what is the material used and accredited by means of Mojito
SPARQL Requests Made: 90
SPARQL Requests Total Time: 71.17840337753296
SPARQL Avg Time per Qn: 0.7908711486392551

[reRank_relations]: what country leads the African Union
SPARQL Requests Made: 3
SPARQL Requests Total Time: 2.2401528358459473
SPARQL Avg Time per Qn: 0.746717611948649
[reRank_relations]: what is the medal Angela Lansbury recieved
SPARQL Requests Made: 91
SPARQL Requests Total Time: 70.4668538570404
SPARQL Avg Time per Qn: 0.7743610313960484

[reRank_relations]: who is the person Ivan Pavlovs student
SPARQL Requests Made: 93
SPARQL Requests Total Time: 74.44525361061096
SPARQL Avg Time per Qn: 0.8004865979635587

[reRank_relations]: what is the medal Angela Lansbury recieved
SPARQL Requests Made: 5
SPARQL Requests Total Time: 4.861461162567139
SPARQL Avg Time per Qn: 0.9722922325134278

[reRank_relations]: did Brittany Murphy have USA citizenship
SPARQL Requests Made: 93
SPARQL Requests Total Time: 71.54194140434265
SPARQL Avg Time per Qn: 0.7692681871434693

[reRank_relations]: the accused Mariposa Folk Festival in 1974 employed whom
SPARQL Requests Made: 104
SPARQL Requests Total Time: 80.10729646682739
SPARQL Avg Time per Qn: 0.7702624660271865

[reRank_relations]: is the clock speed of the Watara Supervision littler than 32
SPARQL Requests Made: 106
SPARQL Requests Total Time: 82.18188095092773
SPARQL Avg Time per Qn: 0.7753007636879975

[reRank_relations]: what basic pharmaceutical is required to treat Leprosy
SPARQL Requests Made: 32
SPARQL Requests Total Time: 24.478930950164795
SPARQL Avg Time per Qn: 0.7649665921926498

[reRank_relations]: are Jeff Bridges and Lane Chandler both photographers
SPARQL Requests Made: 123
SPARQL Requests Total Time: 97.347900390625
SPARQL Avg Time per Qn: 0.7914463446392277

[reRank_relations]: in 1983, what nomination did Clifton Chenier receive
SPARQL Requests Made: 122
SPARQL Requests Total Time: 97.78611397743225
SPARQL Avg Time per Qn: 0.8015255244051824

[reRank_relations]: tell me the female splendor festival that operates in all countries and contains the phrase model in it is name
SPARQL Requests Made: 125
SPARQL Requests Total Time: 96.94754886627197
SPARQL Avg Time per Qn: 0.7755803909301758

[reRank_relations]: tell me the female splendor festival that operates in all countries and contains the phrase model in it is name
SPARQL Requests Made: 9
SPARQL Requests Total Time: 6.659671068191528
SPARQL Avg Time per Qn: 0.7399634520212809

[reRank_relations]: what award did Danila Kozlovsky get in 2017
SPARQL Requests Made: 136
SPARQL Requests Total Time: 106.9641523361206
SPARQL Avg Time per Qn: 0.7865011201185339

[reRank_relations]: what award did Danila Kozlovsky get in 2017
SPARQL Requests Made: 10
SPARQL Requests Total Time: 7.717746257781982
SPARQL Avg Time per Qn: 0.7717746257781982

[reRank_relations]: the accused Mariposa Folk Festival in 1974 employed whom
SPARQL Requests Made: 60
SPARQL Requests Total Time: 45.43379735946655
SPARQL Avg Time per Qn: 0.7572299559911092

[reRank_relations]: who is the Understudy that coined the Euler-Lagrange equation
SPARQL Requests Made: 166
SPARQL Requests Total Time: 127.8475649356842
SPARQL Avg Time per Qn: 0.7701660538294229

[reRank_relations]: what range are the papers at the Monique Genonceaux about
SPARQL Requests Made: 210
SPARQL Requests Total Time: 164.76013016700745
SPARQL Avg Time per Qn: 0.7845720484143212

[reRank_relations]: let me know the title of a fantastique sort that begins with the letter s
SPARQL Requests Made: 226
SPARQL Requests Total Time: 175.13103461265564
SPARQL Avg Time per Qn: 0.7749160823568834

[reRank_relations]: in 1999 and 2019, was Lindsey Vonn in the FIS Alpine World Ski Championships
SPARQL Requests Made: 231
SPARQL Requests Total Time: 179.626140832901
SPARQL Avg Time per Qn: 0.7776023412679697

[reRank_relations]: what is the musical rating by means of Missa Solemnis that has mother Maria Magdalena van Beethoven
SPARQL Requests Made: 226
SPARQL Requests Total Time: 174.51950025558472
SPARQL Avg Time per Qn: 0.7722101781220563

[reRank_relations]: let me know organization whose title has the word zollkriminalamt in it
SPARQL Requests Made: 246
SPARQL Requests Total Time: 190.43513178825378
SPARQL Avg Time per Qn: 0.7741265519847714

[reRank_relations]: what flammable liquid has the least lower flammable limit in Class IB
SPARQL Requests Made: 254
SPARQL Requests Total Time: 197.79512572288513
SPARQL Avg Time per Qn: 0.7787209674129336

[reRank_relations]: what flammable liquid has the least lower flammable limit in Class IB
SPARQL Requests Made: 4
SPARQL Requests Total Time: 2.9358038902282715
SPARQL Avg Time per Qn: 0.7339509725570679

[reRank_relations]: what is the material used and accredited by means of Mojito
SPARQL Requests Made: 180
SPARQL Requests Total Time: 138.3985617160797
SPARQL Avg Time per Qn: 0.768880898422665

[reRank_relations]: who Sleepwalking succeeded in playing Sleepwalking
SPARQL Requests Made: 270
SPARQL Requests Total Time: 210.81374526023865
SPARQL Avg Time per Qn: 0.780791649111995
[reRank_relations]: who Sleepwalking succeeded in playing Sleepwalking
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0

[reRank_relations]: which cola begins with the letter p
SPARQL Requests Made: 306
SPARQL Requests Total Time: 241.52840161323547
SPARQL Avg Time per Qn: 0.7893085020040375

[reRank_relations]: tell me the female splendor festival that operates in all countries and contains the phrase model in it is name
SPARQL Requests Made: 242
SPARQL Requests Total Time: 187.072429895401
SPARQL Avg Time per Qn: 0.7730265698157066

[reRank_relations]: what could be a aptitude that begins with the letter s
SPARQL Requests Made: 390
SPARQL Requests Total Time: 304.79470705986023
SPARQL Avg Time per Qn: 0.7815248898970775

[reRank_relations]: on November 10, 1994, what was Angela Merkels role
SPARQL Requests Made: 450
SPARQL Requests Total Time: 349.75976729393005
SPARQL Avg Time per Qn: 0.7772439273198446

[reRank_relations]: what is the musical rating by means of Missa Solemnis that has mother Maria Magdalena van Beethoven
SPARQL Requests Made: 226
SPARQL Requests Total Time: 176.30358028411865
SPARQL Avg Time per Qn: 0.780104337540348

[reRank_relations]: let me know the title of a fantastique sort that begins with the letter s
SPARQL Requests Made: 391
SPARQL Requests Total Time: 305.8866374492645
SPARQL Avg Time per Qn: 0.7823187658548965

[reRank_relations]: let me know the title of a fantastique sort that begins with the letter s
SPARQL Requests Made: 115
SPARQL Requests Total Time: 89.2458598613739
SPARQL Avg Time per Qn: 0.7760509553162948

[reRank_relations]: on November 10, 1994, what was Angela Merkels role
SPARQL Requests Made: 450
SPARQL Requests Total Time: 350.60858273506165
SPARQL Avg Time per Qn: 0.7791301838556925

Index error, no label found for
wdt::P1773

Index error, no label found for
wd::Q228087

Link batch time: 1404.3942260742188
Anno batch time: 582.3285326957703
Conv batch time: 0.0024480819702148438
Pipeline iter 50
Pipeline iter 51
Pipeline iter 52
Pipeline iter 53
Pipeline iter 54
Pipeline iter 55
Pipeline iter 56
Pipeline iter 57
Pipeline iter 58
Pipeline iter 59
Pipeline iter 60
Pipeline iter 61
Pipeline iter 62
Pipeline iter 63
Pipeline iter 64
Pipeline iter 65
Pipeline iter 66
Pipeline iter 67
Pipeline iter 68
Pipeline iter 69
Pipeline iter 70
Pipeline iter 71
Pipeline iter 72
Pipeline iter 73
Pipeline iter 74
Pipeline iter 75
Pipeline iter 76
Pipeline iter 77
Pipeline iter 78
Pipeline iter 79
Pipeline iter 80
Pipeline iter 81
Pipeline iter 82
Pipeline iter 83
Pipeline iter 84
Pipeline iter 85
Pipeline iter 86
Pipeline iter 87
Pipeline iter 88
Pipeline iter 89
Pipeline iter 90
Pipeline iter 91
Pipeline iter 92
Pipeline iter 93
Pipeline iter 94
Pipeline iter 95
Pipeline iter 96
Pipeline iter 97
Pipeline iter 98
Pipeline iter 99
[Pipeline1]: Linking 49-99
51 : ['What country has the highest taxes?']
51 : ['What was the date that The St. Louis Literary Award was aquired by James Thomas Farrell.']
51 : ['On what date did Pablo Picasso end his partnership with Fernade Oliver?']
51 : ['What product that contains paraffin wax has the lowest usage per capita?']
51 : ['Where is the geographic center of Michigan using the gravity center of the surface?']
51 : ['In Indonesia, is the average life expectancy 55.3528?']
51 : ['What year did Emmerson Mnangagwa start at the University of Zambia?']
51 : ['What kind of career in the screenwriting field does Grigori Kozintsev have?']
51 : ['Which species is the ecia139-4120 protein found in?']
51 : ['What majestic state supplanted the Kingdom of Incredible Britain?']
51 : ['Of the century breaks of the Colm Gilcreest rise to less than 9.6?']
51 : ['Where did the Golden Horde live in?']
51 : ['Located in the Central District, what is the county seat whose twin cities include Feodosiya?']
51 : ['In what year was Nicaraguas population 3.87732 million?']
51 : ['What does emigration mean?']
51 : ['The football association regulates what organization?']
51 : ['When was the companion separated Nero in 9-6-68?']
51 : ['Not applicable']
51 : ['Former champion Francisco Alarcon gave what award to Art Spiegelaman?']
51 : ['Are there more than survivors of the Charkhi Dadri mid-air collision']
51 : ['On what date was Triple Crown Trophy given to Secretariat?']
51 : ['Which borders of borders of Riverside have a begin date of 1984-0-0?']
51 : ['Which is the facility of the defensive wall?']
51 : ['What is  in the IHO Hydrographic Dictionary (S-32) Number of lighthouse ?']
51 : ['Which is the fictional analog of Hippocampus?']
51 : ['What is a purpose of dying that begins with the letter p and can be located on a CT scan?']
51 : ['What is hooked up by way of Archbishop of Canterbury, who is a male?']
51 : ['Where at Passy Cementery is Fernandel buried?']
51 : ['How is the naval artillery wirh the smallest firing range called?']
51 : ['What is the title of a Cayenne Pepper that too has dates?']
51 : ['Does Vest-vassdraget have a throughput of 2697.672?']
51 : ['wich method was used by the census to determine the population of Taguig?']

52 : ['Olga Tokarczuk was the winner of what award in 2015?']

53 : ['What is Porky Pig in right now?']
54 : ['When did distributer of Pac-Man and put of publication?']

[reRank_relations]: what majestic state supplanted the Kingdom of Incredible Britain
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
55 : ['Did Aleister Crowley receive his education at Trinity College and Eton College?']

[reRank_relations]: what kind of career in the screenwriting field does Grigori Kozintsev have
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
[reRank_relations]: what kind of career in the screenwriting field does Grigori Kozintsev have
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
56 : ['What is {located next to Quincy,} in the {novel, Infinite Jest}?']
[reRank_relations]: what is a purpose of dying that begins with the letter p and can be located on a CT scan
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
[reRank_relations]: are there more than survivors of the Charkhi Dadri mid-air collision
SPARQL Requests Made: 1
SPARQL Requests Total Time: 0.7508327960968018
SPARQL Avg Time per Qn: 0.7508327960968018
57 : ['Eric Hobsbawm was presented with an honorary doctorate by what institution?']

58 : ['In 1980 name the last team Allan Border played for?']

[reRank_relations]: what country has the highest taxes
SPARQL Requests Made: 2
SPARQL Requests Total Time: 1.4872736930847168
SPARQL Avg Time per Qn: 0.7436368465423584
59 : ['Give me a movie personality from a fictional universe, such as Marvel comics that starts with a W.']

[reRank_relations]: where did the Golden Horde live in
SPARQL Requests Made: 3
SPARQL Requests Total Time: 2.2074220180511475
SPARQL Avg Time per Qn: 0.7358073393503824
60 : ['Say the anecdotal universe depicted or included within The Framework.']

[reRank_relations]: give me a movie personality from a fictional universe, such as Marvel comics that starts with a W
SPARQL Requests Made: 2
SPARQL Requests Total Time: 1.449760913848877
SPARQL Avg Time per Qn: 0.7248804569244385

[reRank_relations]: which is the fictional analog of Hippocampus
SPARQL Requests Made: 4
SPARQL Requests Total Time: 3.031994342803955
SPARQL Avg Time per Qn: 0.7579985857009888

[reRank_relations]: in what year was Nicaraguas population 387732 million
SPARQL Requests Made: 5
SPARQL Requests Total Time: 3.7376160621643066
SPARQL Avg Time per Qn: 0.7475232124328614
61 : ['What is {grant gotten} of {Hans Krebs} where {point in time} is {1966-0-0} ?']

[reRank_relations]: where at Passy Cementery is Fernandel buried
SPARQL Requests Made: 6
SPARQL Requests Total Time: 4.638113498687744
SPARQL Avg Time per Qn: 0.7730189164479574
[reRank_relations]: where at Passy Cementery is Fernandel buried
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
62 : ['What is the record label signed by Janet Jackson?']

[reRank_relations]: which is the fictional analog of Hippocampus
SPARQL Requests Made: 4
SPARQL Requests Total Time: 3.1177597045898438
SPARQL Avg Time per Qn: 0.7794399261474609
63 : ['What is Tanzanias total reserves?']
64 : ['Is the slope rating of the Merion Golf Club 149?']

[reRank_relations]: is the slope rating of the Merion Golf Club 149
SPARQL Requests Made: 1
SPARQL Requests Total Time: 0.7344810962677002
SPARQL Avg Time per Qn: 0.7344810962677002
65 : ['What is hydrogen peroxides density at twenty degrees?']

66 : ['who engineering firm of domestic field of modern york centaurs?']

[reRank_relations]: what is the record label signed by Janet Jackson
SPARQL Requests Made: 9
SPARQL Requests Total Time: 6.760956525802612
SPARQL Avg Time per Qn: 0.7512173917558458

[reRank_relations]: what is the record label signed by Janet Jackson
SPARQL Requests Made: 1
SPARQL Requests Total Time: 0.7486484050750732
SPARQL Avg Time per Qn: 0.7486484050750732
[reRank_relations]: what is the record label signed by Janet Jackson
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
67 : ['Which { meansseason starts} in {February} ?']

[reRank_relations]: on what date did Pablo Picasso end his partnership with Fernade Oliver
SPARQL Requests Made: 17
SPARQL Requests Total Time: 13.209787607192993
SPARQL Avg Time per Qn: 0.777046329834882

[reRank_relations]: who engineering firm of domestic field of modern york centaurs
SPARQL Requests Made: 15
SPARQL Requests Total Time: 11.318896055221558
SPARQL Avg Time per Qn: 0.7545930703481039
68 : ['Who is {champ} of {prize granted} {Lily Tomlin} ?TARD ?']

[reRank_relations]: which { meansseason starts} in {February}
SPARQL Requests Made: 10
SPARQL Requests Total Time: 8.858888626098633
SPARQL Avg Time per Qn: 0.8858888626098633
69 : ['What is the ammunition of the weapon, that has been used in the conflict in Southeast Asia?']

[reRank_relations]: what was the date that The St Louis Literary Award was aquired by James Thomas Farrell
SPARQL Requests Made: 30
SPARQL Requests Total Time: 23.887295484542847
SPARQL Avg Time per Qn: 0.7962431828180949

[reRank_relations]: when did distributer of Pac-Man and put of publication
SPARQL Requests Made: 32
SPARQL Requests Total Time: 23.952837705612183
SPARQL Avg Time per Qn: 0.7485261783003807

[reRank_relations]: on what date did Pablo Picasso end his partnership with Fernade Oliver
SPARQL Requests Made: 21
SPARQL Requests Total Time: 17.72529625892639
SPARQL Avg Time per Qn: 0.8440617266155425

[reRank_relations]: what was the date that The St Louis Literary Award was aquired by James Thomas Farrell
SPARQL Requests Made: 8
SPARQL Requests Total Time: 6.028385639190674
SPARQL Avg Time per Qn: 0.7535482048988342
[reRank_relations]: what was the date that The St Louis Literary Award was aquired by James Thomas Farrell
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0

[reRank_relations]: what year did Emmerson Mnangagwa start at the University of Zambia
SPARQL Requests Made: 42
SPARQL Requests Total Time: 33.199931621551514
SPARQL Avg Time per Qn: 0.7904745624178932

[reRank_relations]: did Aleister Crowley receive his education at Trinity College and Eton College
SPARQL Requests Made: 43
SPARQL Requests Total Time: 33.72113585472107
SPARQL Avg Time per Qn: 0.7842124617376993

[reRank_relations]: wich method was used by the census to determine the population of Taguig
SPARQL Requests Made: 45
SPARQL Requests Total Time: 35.01010704040527
SPARQL Avg Time per Qn: 0.7780023786756728

[reRank_relations]: did Aleister Crowley receive his education at Trinity College and Eton College
SPARQL Requests Made: 5
SPARQL Requests Total Time: 4.0474395751953125
SPARQL Avg Time per Qn: 0.8094879150390625
[reRank_relations]: did Aleister Crowley receive his education at Trinity College and Eton College
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0

[reRank_relations]: what year did Emmerson Mnangagwa start at the University of Zambia
SPARQL Requests Made: 8
SPARQL Requests Total Time: 6.390719175338745
SPARQL Avg Time per Qn: 0.7988398969173431
[reRank_relations]: what year did Emmerson Mnangagwa start at the University of Zambia
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0

[reRank_relations]: give me a movie personality from a fictional universe, such as Marvel comics that starts with a W
SPARQL Requests Made: 45
SPARQL Requests Total Time: 34.423556327819824
SPARQL Avg Time per Qn: 0.7649679183959961

[reRank_relations]: the football association regulates what organization
SPARQL Requests Made: 50
SPARQL Requests Total Time: 38.96812057495117
SPARQL Avg Time per Qn: 0.7793624114990234

[reRank_relations]: who is {champ} of {prize granted} {Lily Tomlin} TARD
SPARQL Requests Made: 29
SPARQL Requests Total Time: 21.92846155166626
SPARQL Avg Time per Qn: 0.7561538466091814

[reRank_relations]: what is the ammunition of the weapon, that has been used in the conflict in Southeast Asia
SPARQL Requests Made: 30
SPARQL Requests Total Time: 24.83598256111145
SPARQL Avg Time per Qn: 0.8278660853703816

[reRank_relations]: when was the companion separated Nero in 9-6-68
SPARQL Requests Made: 60
SPARQL Requests Total Time: 46.78274345397949
SPARQL Avg Time per Qn: 0.7797123908996582

[reRank_relations]: eric Hobsbawm was presented with an honorary doctorate by what institution
SPARQL Requests Made: 65
SPARQL Requests Total Time: 50.49049663543701
SPARQL Avg Time per Qn: 0.7767768713144155

[reRank_relations]: what is the ammunition of the weapon, that has been used in the conflict in Southeast Asia
SPARQL Requests Made: 22
SPARQL Requests Total Time: 17.37588143348694
SPARQL Avg Time per Qn: 0.7898127924312245

[reRank_relations]: olga Tokarczuk was the winner of what award in 2015
SPARQL Requests Made: 78
SPARQL Requests Total Time: 60.58840370178223
SPARQL Avg Time per Qn: 0.7767744064331055

[reRank_relations]: where is the geographic center of Michigan using the gravity center of the surface
SPARQL Requests Made: 80
SPARQL Requests Total Time: 65.2917230129242
SPARQL Avg Time per Qn: 0.8161465376615524

[reRank_relations]: in 1980 name the last team Allan Border played for
SPARQL Requests Made: 85
SPARQL Requests Total Time: 65.84325313568115
SPARQL Avg Time per Qn: 0.7746265074786018

[reRank_relations]: in 1980 name the last team Allan Border played for
SPARQL Requests Made: 9
SPARQL Requests Total Time: 6.737494945526123
SPARQL Avg Time per Qn: 0.7486105495029025

[reRank_relations]: on what date did Pablo Picasso end his partnership with Fernade Oliver
SPARQL Requests Made: 60
SPARQL Requests Total Time: 45.84272289276123
SPARQL Avg Time per Qn: 0.7640453815460205

[reRank_relations]: what is  in the IHO Hydrographic Dictionary (S-32) Number of lighthouse
SPARQL Requests Made: 107
SPARQL Requests Total Time: 81.50524044036865
SPARQL Avg Time per Qn: 0.7617312190688659

[reRank_relations]: how is the naval artillery wirh the smallest firing range called
SPARQL Requests Made: 114
SPARQL Requests Total Time: 86.71088147163391
SPARQL Avg Time per Qn: 0.7606217672950343

[reRank_relations]: located in the Central District, what is the county seat whose twin cities include Feodosiya
SPARQL Requests Made: 120
SPARQL Requests Total Time: 92.71246647834778
SPARQL Avg Time per Qn: 0.7726038873195649

[reRank_relations]: located in the Central District, what is the county seat whose twin cities include Feodosiya
SPARQL Requests Made: 4
SPARQL Requests Total Time: 3.093966245651245
SPARQL Avg Time per Qn: 0.7734915614128113

[reRank_relations]: what is hooked up by way of Archbishop of Canterbury, who is a male
SPARQL Requests Made: 135
SPARQL Requests Total Time: 105.04631757736206
SPARQL Avg Time per Qn: 0.7781208709434226

[reRank_relations]: what is hooked up by way of Archbishop of Canterbury, who is a male
SPARQL Requests Made: 16
SPARQL Requests Total Time: 12.121233940124512
SPARQL Avg Time per Qn: 0.757577121257782

[reRank_relations]: what product that contains paraffin wax has the lowest usage per capita
SPARQL Requests Made: 152
SPARQL Requests Total Time: 117.2391128540039
SPARQL Avg Time per Qn: 0.7713099529868678

[reRank_relations]: on what date did Pablo Picasso end his partnership with Fernade Oliver
SPARQL Requests Made: 60
SPARQL Requests Total Time: 46.013901710510254
SPARQL Avg Time per Qn: 0.7668983618418376

[reRank_relations]: which borders of borders of Riverside have a begin date of 1984-0-0
SPARQL Requests Made: 165
SPARQL Requests Total Time: 126.07435059547424
SPARQL Avg Time per Qn: 0.7640869733059045

[reRank_relations]: wich method was used by the census to determine the population of Taguig
SPARQL Requests Made: 121
SPARQL Requests Total Time: 94.19329500198364
SPARQL Avg Time per Qn: 0.7784569834874682
[reRank_relations]: wich method was used by the census to determine the population of Taguig
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0

[reRank_relations]: what is the title of a Cayenne Pepper that too has dates
SPARQL Requests Made: 172
SPARQL Requests Total Time: 130.44739770889282
SPARQL Avg Time per Qn: 0.7584151029586792

[reRank_relations]: on what date was Triple Crown Trophy given to Secretariat
SPARQL Requests Made: 180
SPARQL Requests Total Time: 138.4777910709381
SPARQL Avg Time per Qn: 0.7693210615052117
[reRank_relations]: what does Emigration mean
SPARQL Requests Made: 180
SPARQL Requests Total Time: 137.4579885005951
SPARQL Avg Time per Qn: 0.7636554916699727

[reRank_relations]: what is Porky Pig in right now
SPARQL Requests Made: 188
SPARQL Requests Total Time: 145.14817690849304
SPARQL Avg Time per Qn: 0.7720647707898566

[reRank_relations]: which is the facility of the defensive wall
SPARQL Requests Made: 195
SPARQL Requests Total Time: 149.6412205696106
SPARQL Avg Time per Qn: 0.7673908747159518

[reRank_relations]: on what date was Triple Crown Trophy given to Secretariat
SPARQL Requests Made: 29
SPARQL Requests Total Time: 22.82502555847168
SPARQL Avg Time per Qn: 0.7870698468438511

[reRank_relations]: olga Tokarczuk was the winner of what award in 2015
SPARQL Requests Made: 136
SPARQL Requests Total Time: 105.28272104263306
SPARQL Avg Time per Qn: 0.7741376547252431
[reRank_relations]: say the anecdotal universe depicted or included within The Framework
SPARQL Requests Made: 210
SPARQL Requests Total Time: 162.88711833953857
SPARQL Avg Time per Qn: 0.7756529444739932

[reRank_relations]: on what date did Pablo Picasso end his partnership with Fernade Oliver
SPARQL Requests Made: 60
SPARQL Requests Total Time: 46.57549834251404
SPARQL Avg Time per Qn: 0.7762583057085674

[reRank_relations]: former champion Francisco Alarcon gave what award to Art Spiegelaman
SPARQL Requests Made: 249
SPARQL Requests Total Time: 191.24120569229126
SPARQL Avg Time per Qn: 0.7680369706517721

[reRank_relations]: of the century breaks of the Colm Gilcreest rise to less than 96
SPARQL Requests Made: 251
SPARQL Requests Total Time: 194.31153345108032
SPARQL Avg Time per Qn: 0.7741495356616745

[reRank_relations]: former champion Francisco Alarcon gave what award to Art Spiegelaman
SPARQL Requests Made: 20
SPARQL Requests Total Time: 15.716977596282959
SPARQL Avg Time per Qn: 0.785848879814148

[reRank_relations]: say the anecdotal universe depicted or included within The Framework
SPARQL Requests Made: 60
SPARQL Requests Total Time: 47.86559200286865
SPARQL Avg Time per Qn: 0.7977598667144775

[reRank_relations]: former champion Francisco Alarcon gave what award to Art Spiegelaman
SPARQL Requests Made: 30
SPARQL Requests Total Time: 24.091896057128906
SPARQL Avg Time per Qn: 0.8030632019042969
[reRank_relations]: former champion Francisco Alarcon gave what award to Art Spiegelaman
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0

[reRank_relations]: located in the Central District, what is the county seat whose twin cities include Feodosiya
SPARQL Requests Made: 181
SPARQL Requests Total Time: 142.97803449630737
SPARQL Avg Time per Qn: 0.7899338922447922

[reRank_relations]: former champion Francisco Alarcon gave what award to Art Spiegelaman
SPARQL Requests Made: 30
SPARQL Requests Total Time: 22.91794514656067
SPARQL Avg Time per Qn: 0.7639315048853557

[reRank_relations]: which borders of borders of Riverside have a begin date of 1984-0-0
SPARQL Requests Made: 165
SPARQL Requests Total Time: 131.67382144927979
SPARQL Avg Time per Qn: 0.7980231602986654

[reRank_relations]: what is {grant gotten} of {Hans Krebs} where {point in time} is {1966-0-0}
SPARQL Requests Made: 338
SPARQL Requests Total Time: 270.1700882911682
SPARQL Avg Time per Qn: 0.799319787843693

[reRank_relations]: what is a purpose of dying that begins with the letter p and can be located on a CT scan
SPARQL Requests Made: 391
SPARQL Requests Total Time: 308.3867645263672
SPARQL Avg Time per Qn: 0.7887129527528572

[reRank_relations]: which species is the ecia139-4120 protein found in
SPARQL Requests Made: 450
SPARQL Requests Total Time: 352.618399143219
SPARQL Avg Time per Qn: 0.7835964425404867

[reRank_relations]: what product that contains paraffin wax has the lowest usage per capita
SPARQL Requests Made: 450
SPARQL Requests Total Time: 354.76032876968384
SPARQL Avg Time per Qn: 0.788356286154853

[reRank_relations]: what is a purpose of dying that begins with the letter p and can be located on a CT scan
SPARQL Requests Made: 451
SPARQL Requests Total Time: 350.70760011672974
SPARQL Avg Time per Qn: 0.7776221732078265

[reRank_relations]: what is a purpose of dying that begins with the letter p and can be located on a CT scan
SPARQL Requests Made: 83
SPARQL Requests Total Time: 63.595205307006836
SPARQL Avg Time per Qn: 0.766207292855504

Index error, no label found for
wdt::P134

Index error, no label found for
wdt::P134

Link batch time: 1443.254521369934
Anno batch time: 557.8783347606659
Conv batch time: 0.002325296401977539
Pipeline iter 100
Pipeline iter 101
Pipeline iter 102
Pipeline iter 103
Pipeline iter 104
Pipeline iter 105
Pipeline iter 106
Pipeline iter 107
Pipeline iter 108
Pipeline iter 109
Pipeline iter 110
Pipeline iter 111
Pipeline iter 112
Pipeline iter 113
Pipeline iter 114
Pipeline iter 115
Pipeline iter 116
Pipeline iter 117
Pipeline iter 118
Pipeline iter 119
Pipeline iter 120
Pipeline iter 121
Pipeline iter 122
Pipeline iter 123
Pipeline iter 124
Pipeline iter 125
Pipeline iter 126
Pipeline iter 127
Pipeline iter 128
Pipeline iter 129
Pipeline iter 130
Pipeline iter 131
Pipeline iter 132
Pipeline iter 133
Pipeline iter 134
Pipeline iter 135
Pipeline iter 136
Pipeline iter 137
Pipeline iter 138
Pipeline iter 139
Pipeline iter 140
Pipeline iter 141
Pipeline iter 142
Pipeline iter 143
Pipeline iter 144
Pipeline iter 145
Pipeline iter 146
Pipeline iter 147
Pipeline iter 148
Pipeline iter 149
[Pipeline1]: Linking 99-149
101 : ['Tell me each and every horse breed whose identify begins with the letter z']
101 : ['The University of Florida is a member of which coalition?']
101 : ['Give me the name of the brother in law of the writer of Quran.']
101 : ['What is the New Zealand Gazetteer place id for Auckland?']
101 : ['What does the portray Review Odalisque speak to which has DRTL backwards?']
101 : ['Title an realm that contains the word british in its name']
101 : ['Give me the instance of Antonio da Correggio, whose birthdate is 1489-8-1?']
101 : ['Who was the instructor that administered Shigeno Yasutsugu?']
101 : ['What is the SANDRE ID for Rhine?']
101 : ['On what date did Kylie Minogue receive the Gold Logie Award for Most Popular Personality on Australian Television?']
101 : ['What is the name of Alexander McQueens business?']
101 : ['Let me know the Greek deity of kin of Zeus which contains the word poseidon in its name?']
101 : ['Who organizes the arrange of Ultima III: Departure?']
101 : ['Who was the lead performing artist for the motion picture Deadpool?']
101 : ['Say the melodic related work highlighting the work of Sasha Grey.']
101 : ['in 2011 John de Mol won which award?']
101 : ['Is the entire richness rate of Algeria more noteworthy than 3.4284?']
101 : ['When does the temperature and pressure of water hit the triple point stage?']
101 : ['Let me know physical marvel whose title has the word surface in it.']
101 : ['where does Vladimir putin reside?']
101 : ['Which is the municipality of Belgium that has the headquarters location of European Union?']
101 : ['Which is made from the goat meat having a common title as Household Goat?']
101 : ['What is located on terrain feature of Multonmah Falls?']
101 : ['Let me know ethnolect whose title has the word perkerdansk in it.']
101 : ['What is the temperature and state of matter of water when it reaches the critical point?']
101 : ['which is the point time for syria has populace as 8.08815e+06?']
101 : ['Is Human communication, packaging and labeling involved with marketing?']
101 : ['WHAT IS THE MAXIMUM FREQUENCY OF EVENT RACE']
101 : ['WHICH IS THE AUSTRIAN MUNICIPALITY KEY OF  KLAGENFURT']
101 : ['Tell me the self sustaining area of the Peoples Republic of China which consists of the phrase xinjiang in its name?']
101 : ['What Velka Pardubicka has the lowest race time that was won by Peter Gehm?']
101 : ['Who wrote the Watchmen, and what award were they given?']

[reRank_relations]: where does Vladimir putin reside
SPARQL Requests Made: 1
SPARQL Requests Total Time: 0.7509973049163818
SPARQL Avg Time per Qn: 0.7509973049163818
[reRank_relations]: where does Vladimir putin reside
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
102 : ['N / A N / A']
[reRank_relations]: what is the SANDRE ID for Rhine
SPARQL Requests Made: 1
SPARQL Requests Total Time: 0.753821849822998
SPARQL Avg Time per Qn: 0.753821849822998
103 : ['Name a book written in Esperanto']

104 : ['What is the general manager of Bernard Hinault?']
105 : ['What FSK 12 rated 3D film cost the most?']
[reRank_relations]: wHICH IS THE AUSTRIAN MUNICIPALITY KEY OF  KLAGENFURT
SPARQL Requests Made: 1
SPARQL Requests Total Time: 0.785876989364624
SPARQL Avg Time per Qn: 0.785876989364624
106 : ['Daniel Dennett is interested in by how many people?']

[reRank_relations]: who was the lead performing artist for the motion picture Deadpool
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
[reRank_relations]: what is located on terrain feature of Multonmah Falls
SPARQL Requests Made: 1
SPARQL Requests Total Time: 0.7772970199584961
SPARQL Avg Time per Qn: 0.7772970199584961
107 : ['In the administrative territorial entity of Bristol, what significant event happened in 1996?']
[reRank_relations]: say the melodic related work highlighting the work of Sasha Grey
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
108 : ['Where does the river Rhine originate from?']

[reRank_relations]: is Human communication, packaging and labeling involved with marketing
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
109 : ['What was Cate blanchett work Im Not There nominated for']

110 : ['Tell me the tower that is depicted as Tower of Babel and includes the word babel in its name?']
[reRank_relations]: give me the name of the brother in law of the writer of Quran
SPARQL Requests Made: 1
SPARQL Requests Total Time: 0.7203271389007568
SPARQL Avg Time per Qn: 0.7203271389007568

[reRank_relations]: what was Cate blanchett work Im Not There nominated for
SPARQL Requests Made: 1
SPARQL Requests Total Time: 0.7490780353546143
SPARQL Avg Time per Qn: 0.7490780353546143
111 : ['Harold Macmillian of the 34th Parliament of the UK held which position starting from what date and then left for what reason?']

[reRank_relations]: what is the name of Alexander McQueens business
SPARQL Requests Made: 4
SPARQL Requests Total Time: 3.0888521671295166
SPARQL Avg Time per Qn: 0.7722130417823792

[reRank_relations]: title an realm that contains the word british in its name
SPARQL Requests Made: 4
SPARQL Requests Total Time: 2.9459166526794434
SPARQL Avg Time per Qn: 0.7364791631698608

[reRank_relations]: where does the river Rhine originate from
SPARQL Requests Made: 4
SPARQL Requests Total Time: 2.9786336421966553
SPARQL Avg Time per Qn: 0.7446584105491638
112 : ['Is 700 the maximum wavelength of sensitivity of the human eye?']

[reRank_relations]: in 2011 John de Mol won which award
SPARQL Requests Made: 6
SPARQL Requests Total Time: 4.588229179382324
SPARQL Avg Time per Qn: 0.7647048632303873

113 : ['Where was once the region of beginning of Hermann Heinrich Gossen, that has Q48460 such that 2--4355126?']

[reRank_relations]: harold Macmillian of the 34th Parliament of the UK held which position starting from what date and then left for what reason
SPARQL Requests Made: 5
SPARQL Requests Total Time: 3.8549511432647705
SPARQL Avg Time per Qn: 0.7709902286529541

[reRank_relations]: in the administrative territorial entity of Bristol, what significant event happened in 1996
SPARQL Requests Made: 16
SPARQL Requests Total Time: 12.46013593673706
SPARQL Avg Time per Qn: 0.7787584960460663

[reRank_relations]: give me the instance of Antonio da Correggio, whose birthdate is 1489-8-1
SPARQL Requests Made: 18
SPARQL Requests Total Time: 13.648315668106079
SPARQL Avg Time per Qn: 0.7582397593392266
114 : ['Give me the person name who received nobel literature prize after Mo yan?']

[reRank_relations]: which is the municipality of Belgium that has the headquarters location of European Union
SPARQL Requests Made: 20
SPARQL Requests Total Time: 15.066391229629517
SPARQL Avg Time per Qn: 0.7533195614814758
115 : ['Which year was Eiji Toyoda awarded for his work in Order of Prince Henry?']

[reRank_relations]: which year was Eiji Toyoda awarded for his work in Order of Prince Henry
SPARQL Requests Made: 2
SPARQL Requests Total Time: 1.470081090927124
SPARQL Avg Time per Qn: 0.735040545463562

[reRank_relations]: name a book written in Esperanto
SPARQL Requests Made: 23
SPARQL Requests Total Time: 17.284464597702026
SPARQL Avg Time per Qn: 0.7514984607696533

[reRank_relations]: which year was Eiji Toyoda awarded for his work in Order of Prince Henry
SPARQL Requests Made: 6
SPARQL Requests Total Time: 4.572297096252441
SPARQL Avg Time per Qn: 0.7620495160420736

[reRank_relations]: which year was Eiji Toyoda awarded for his work in Order of Prince Henry
SPARQL Requests Made: 2
SPARQL Requests Total Time: 1.5164499282836914
SPARQL Avg Time per Qn: 0.7582249641418457

[reRank_relations]: who was the instructor that administered Shigeno Yasutsugu
SPARQL Requests Made: 30
SPARQL Requests Total Time: 22.933817625045776
SPARQL Avg Time per Qn: 0.7644605875015259
[reRank_relations]: who was the instructor that administered Shigeno Yasutsugu
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
116 : ['What was Jimmy Wales start and end date during his employment at Bomis?']

[reRank_relations]: who wrote the Watchmen, and what award were they given
SPARQL Requests Made: 36
SPARQL Requests Total Time: 27.69326162338257
SPARQL Avg Time per Qn: 0.7692572673161825

[reRank_relations]: what is the New Zealand Gazetteer place id for Auckland
SPARQL Requests Made: 37
SPARQL Requests Total Time: 30.47834324836731
SPARQL Avg Time per Qn: 0.82373900671263
[reRank_relations]: what is the New Zealand Gazetteer place id for Auckland
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
117 : ['Which is the author of afterword of Erich Fromm?']

[reRank_relations]: which is the author of afterword of Erich Fromm
SPARQL Requests Made: 2
SPARQL Requests Total Time: 1.4677295684814453
SPARQL Avg Time per Qn: 0.7338647842407227
[reRank_relations]: which is the author of afterword of Erich Fromm
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
118 : ['Who are labored for Michelle Wolf and its source place of group/organisation is placed in New York City?']

[reRank_relations]: who are labored for Michelle Wolf and its source place of group/organisation is placed in New York City
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0

[reRank_relations]: what Velka Pardubicka has the lowest race time that was won by Peter Gehm
SPARQL Requests Made: 41
SPARQL Requests Total Time: 31.109359741210938
SPARQL Avg Time per Qn: 0.7587648717368521
[reRank_relations]: what Velka Pardubicka has the lowest race time that was won by Peter Gehm
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
119 : ['What is the measuring unit that starts with the letter visus?']

[reRank_relations]: name a book written in Esperanto
SPARQL Requests Made: 23
SPARQL Requests Total Time: 17.665257215499878
SPARQL Avg Time per Qn: 0.7680546615434729

[reRank_relations]: tell me the self sustaining area of the Peoples Republic of China which consists of the phrase xinjiang in its name
SPARQL Requests Made: 45
SPARQL Requests Total Time: 36.41565537452698
SPARQL Avg Time per Qn: 0.8092367861005995

[reRank_relations]: what is the measuring unit that starts with the letter visus
SPARQL Requests Made: 15
SPARQL Requests Total Time: 11.259372472763062
SPARQL Avg Time per Qn: 0.7506248315175374

[reRank_relations]: what is the measuring unit that starts with the letter visus
SPARQL Requests Made: 11
SPARQL Requests Total Time: 8.501688957214355
SPARQL Avg Time per Qn: 0.7728808142922141

[reRank_relations]: who wrote the Watchmen, and what award were they given
SPARQL Requests Made: 38
SPARQL Requests Total Time: 29.84663677215576
SPARQL Avg Time per Qn: 0.7854378097935727

[reRank_relations]: tell me the self sustaining area of the Peoples Republic of China which consists of the phrase xinjiang in its name
SPARQL Requests Made: 31
SPARQL Requests Total Time: 24.604978322982788
SPARQL Avg Time per Qn: 0.793708978160735

[reRank_relations]: who organizes the arrange of Ultima III: Departure
SPARQL Requests Made: 90
SPARQL Requests Total Time: 69.7569625377655
SPARQL Avg Time per Qn: 0.7750773615307278

[reRank_relations]: give me the person name who received nobel literature prize after Mo yan
SPARQL Requests Made: 79
SPARQL Requests Total Time: 61.88424253463745
SPARQL Avg Time per Qn: 0.7833448422106006
[reRank_relations]: give me the person name who received nobel literature prize after Mo yan
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0

[reRank_relations]: who was the lead performing artist for the motion picture Deadpool
SPARQL Requests Made: 109
SPARQL Requests Total Time: 86.10796666145325
SPARQL Avg Time per Qn: 0.7899813455179197

[reRank_relations]: title an realm that contains the word british in its name
SPARQL Requests Made: 115
SPARQL Requests Total Time: 88.62254571914673
SPARQL Avg Time per Qn: 0.7706308323404063

[reRank_relations]: on what date did Kylie Minogue receive the Gold Logie Award for Most Popular Personality on Australian Television
SPARQL Requests Made: 120
SPARQL Requests Total Time: 93.93026065826416
SPARQL Avg Time per Qn: 0.7827521721522014

[reRank_relations]: on what date did Kylie Minogue receive the Gold Logie Award for Most Popular Personality on Australian Television
SPARQL Requests Made: 5
SPARQL Requests Total Time: 3.6605799198150635
SPARQL Avg Time per Qn: 0.7321159839630127

[reRank_relations]: let me know physical marvel whose title has the word surface in it
SPARQL Requests Made: 147
SPARQL Requests Total Time: 113.39810633659363
SPARQL Avg Time per Qn: 0.7714156893645825

[reRank_relations]: what was Jimmy Wales start and end date during his employment at Bomis
SPARQL Requests Made: 132
SPARQL Requests Total Time: 103.80281639099121
SPARQL Avg Time per Qn: 0.7863849726590243

[reRank_relations]: what was Jimmy Wales start and end date during his employment at Bomis
SPARQL Requests Made: 3
SPARQL Requests Total Time: 2.2183375358581543
SPARQL Avg Time per Qn: 0.7394458452860514

[reRank_relations]: what was Jimmy Wales start and end date during his employment at Bomis
SPARQL Requests Made: 8
SPARQL Requests Total Time: 6.014407157897949
SPARQL Avg Time per Qn: 0.7518008947372437

[reRank_relations]: say the melodic related work highlighting the work of Sasha Grey
SPARQL Requests Made: 174
SPARQL Requests Total Time: 135.62423729896545
SPARQL Avg Time per Qn: 0.7794496396492268
[reRank_relations]: say the melodic related work highlighting the work of Sasha Grey
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0

[reRank_relations]: give me the name of the brother in law of the writer of Quran
SPARQL Requests Made: 180
SPARQL Requests Total Time: 139.22995281219482
SPARQL Avg Time per Qn: 0.7734997378455268

[reRank_relations]: what is the temperature and state of matter of water when it reaches the critical point
SPARQL Requests Made: 180
SPARQL Requests Total Time: 139.54071712493896
SPARQL Avg Time per Qn: 0.7752262062496609

[reRank_relations]: what was Jimmy Wales start and end date during his employment at Bomis
SPARQL Requests Made: 32
SPARQL Requests Total Time: 25.39073896408081
SPARQL Avg Time per Qn: 0.7934605926275253
[reRank_relations]: what was Jimmy Wales start and end date during his employment at Bomis
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0

[reRank_relations]: harold Macmillian of the 34th Parliament of the UK held which position starting from what date and then left for what reason
SPARQL Requests Made: 196
SPARQL Requests Total Time: 152.38932156562805
SPARQL Avg Time per Qn: 0.7774965386001431

[reRank_relations]: harold Macmillian of the 34th Parliament of the UK held which position starting from what date and then left for what reason
SPARQL Requests Made: 23
SPARQL Requests Total Time: 17.5383358001709
SPARQL Avg Time per Qn: 0.7625363391378651

[reRank_relations]: what is the general manager of Bernard Hinault
SPARQL Requests Made: 225
SPARQL Requests Total Time: 175.46827244758606
SPARQL Avg Time per Qn: 0.7798589886559381
[reRank_relations]: what is the general manager of Bernard Hinault
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0

[reRank_relations]: daniel Dennett is interested in by how many people
SPARQL Requests Made: 227
SPARQL Requests Total Time: 177.5055377483368
SPARQL Avg Time per Qn: 0.7819627213583119

[reRank_relations]: tell me the tower that is depicted as Tower of Babel and includes the word babel in its name
SPARQL Requests Made: 232
SPARQL Requests Total Time: 178.77539134025574
SPARQL Avg Time per Qn: 0.7705835833631712

[reRank_relations]: what is the name of Alexander McQueens business
SPARQL Requests Made: 240
SPARQL Requests Total Time: 184.16582775115967
SPARQL Avg Time per Qn: 0.767357615629832

[reRank_relations]: what does the portray Review Odalisque speak to which has DRTL backwards
SPARQL Requests Made: 243
SPARQL Requests Total Time: 187.14448356628418
SPARQL Avg Time per Qn: 0.7701419076801818
[reRank_relations]: harold Macmillian of the 34th Parliament of the UK held which position starting from what date and then left for what reason
SPARQL Requests Made: 19
SPARQL Requests Total Time: 14.400628566741943
SPARQL Avg Time per Qn: 0.7579278193022075

[reRank_relations]: in the administrative territorial entity of Bristol, what significant event happened in 1996
SPARQL Requests Made: 226
SPARQL Requests Total Time: 174.5387146472931
SPARQL Avg Time per Qn: 0.7722951975543942

[reRank_relations]: let me know ethnolect whose title has the word perkerdansk in it
SPARQL Requests Made: 246
SPARQL Requests Total Time: 191.31881642341614
SPARQL Avg Time per Qn: 0.777718765948846

[reRank_relations]: harold Macmillian of the 34th Parliament of the UK held which position starting from what date and then left for what reason
SPARQL Requests Made: 23
SPARQL Requests Total Time: 17.57703185081482
SPARQL Avg Time per Qn: 0.7642187761223834

[reRank_relations]: let me know the Greek deity of kin of Zeus which contains the word poseidon in its name
SPARQL Requests Made: 274
SPARQL Requests Total Time: 210.29267930984497
SPARQL Avg Time per Qn: 0.7674915303279014

[reRank_relations]: who are labored for Michelle Wolf and its source place of group/organisation is placed in New York City
SPARQL Requests Made: 241
SPARQL Requests Total Time: 184.76199507713318
SPARQL Avg Time per Qn: 0.7666472824777311
[reRank_relations]: who are labored for Michelle Wolf and its source place of group/organisation is placed in New York City
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0

[reRank_relations]: what is the measuring unit that starts with the letter visus
SPARQL Requests Made: 225
SPARQL Requests Total Time: 173.52091479301453
SPARQL Avg Time per Qn: 0.7712040657467313

[reRank_relations]: harold Macmillian of the 34th Parliament of the UK held which position starting from what date and then left for what reason
SPARQL Requests Made: 44
SPARQL Requests Total Time: 33.956215620040894
SPARQL Avg Time per Qn: 0.7717321731827476

[reRank_relations]: tell me the self sustaining area of the Peoples Republic of China which consists of the phrase xinjiang in its name
SPARQL Requests Made: 235
SPARQL Requests Total Time: 180.44685649871826
SPARQL Avg Time per Qn: 0.767858963824333

[reRank_relations]: which year was Eiji Toyoda awarded for his work in Order of Prince Henry
SPARQL Requests Made: 300
SPARQL Requests Total Time: 230.7782382965088
SPARQL Avg Time per Qn: 0.7692607943216959
[reRank_relations]: which year was Eiji Toyoda awarded for his work in Order of Prince Henry
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0

[reRank_relations]: let me know the Greek deity of kin of Zeus which contains the word poseidon in its name
SPARQL Requests Made: 64
SPARQL Requests Total Time: 49.76385426521301
SPARQL Avg Time per Qn: 0.7775602228939533

[reRank_relations]: what does the portray Review Odalisque speak to which has DRTL backwards
SPARQL Requests Made: 108
SPARQL Requests Total Time: 83.3475968837738
SPARQL Avg Time per Qn: 0.7717370081830908

[reRank_relations]: let me know the Greek deity of kin of Zeus which contains the word poseidon in its name
SPARQL Requests Made: 17
SPARQL Requests Total Time: 12.952798128128052
SPARQL Avg Time per Qn: 0.7619293016545913

[reRank_relations]: tell me the tower that is depicted as Tower of Babel and includes the word babel in its name
SPARQL Requests Made: 149
SPARQL Requests Total Time: 113.08701539039612
SPARQL Avg Time per Qn: 0.7589732576536652

[reRank_relations]: when does the temperature and pressure of water hit the triple point stage
SPARQL Requests Made: 390
SPARQL Requests Total Time: 300.360476732254
SPARQL Avg Time per Qn: 0.7701550685442411

[reRank_relations]: what does the portray Review Odalisque speak to which has DRTL backwards
SPARQL Requests Made: 45
SPARQL Requests Total Time: 35.543842792510986
SPARQL Avg Time per Qn: 0.7898631731669108

[reRank_relations]: in 2011 John de Mol won which award
SPARQL Requests Made: 420
SPARQL Requests Total Time: 322.31826519966125
SPARQL Avg Time per Qn: 0.7674244409515745

[reRank_relations]: where was once the region of beginning of Hermann Heinrich Gossen, that has Q48460 such that 2--4355126
SPARQL Requests Made: 450
SPARQL Requests Total Time: 350.00855827331543
SPARQL Avg Time per Qn: 0.7777967961629232

[reRank_relations]: what is the temperature and state of matter of water when it reaches the critical point
SPARQL Requests Made: 300
SPARQL Requests Total Time: 229.3150918483734
SPARQL Avg Time per Qn: 0.764383639494578

[reRank_relations]: where was once the region of beginning of Hermann Heinrich Gossen, that has Q48460 such that 2--4355126
SPARQL Requests Made: 30
SPARQL Requests Total Time: 23.210254192352295
SPARQL Avg Time per Qn: 0.7736751397450765

[reRank_relations]: tell me each and every horse breed whose identify begins with the letter z
SPARQL Requests Made: 496
SPARQL Requests Total Time: 384.34057807922363
SPARQL Avg Time per Qn: 0.7748801977403702

[reRank_relations]: where was once the region of beginning of Hermann Heinrich Gossen, that has Q48460 such that 2--4355126
SPARQL Requests Made: 30
SPARQL Requests Total Time: 24.198433876037598
SPARQL Avg Time per Qn: 0.8066144625345866

[reRank_relations]: in 2011 John de Mol won which award
SPARQL Requests Made: 136
SPARQL Requests Total Time: 104.59219408035278
SPARQL Avg Time per Qn: 0.7690602505908293

[reRank_relations]: wHAT IS THE MAXIMUM FREQUENCY OF EVENT RACE
SPARQL Requests Made: 633
SPARQL Requests Total Time: 487.451931476593
SPARQL Avg Time per Qn: 0.7700662424590727

[reRank_relations]: wHAT IS THE MAXIMUM FREQUENCY OF EVENT RACE
SPARQL Requests Made: 35
SPARQL Requests Total Time: 27.190149068832397
SPARQL Avg Time per Qn: 0.7768614019666399

[reRank_relations]: which is made from the goat meat having a common title as Household Goat
SPARQL Requests Made: 675
SPARQL Requests Total Time: 521.5418658256531
SPARQL Avg Time per Qn: 0.7726546160380046

[reRank_relations]: which is made from the goat meat having a common title as Household Goat
SPARQL Requests Made: 9
SPARQL Requests Total Time: 6.937954425811768
SPARQL Avg Time per Qn: 0.7708838250901964

[reRank_relations]: when does the temperature and pressure of water hit the triple point stage
SPARQL Requests Made: 300
SPARQL Requests Total Time: 230.29871153831482
SPARQL Avg Time per Qn: 0.7676623717943827

[reRank_relations]: when does the temperature and pressure of water hit the triple point stage
SPARQL Requests Made: 180
SPARQL Requests Total Time: 139.4315390586853
SPARQL Avg Time per Qn: 0.7746196614371406

[reRank_relations]: what is the temperature and state of matter of water when it reaches the critical point
SPARQL Requests Made: 411
SPARQL Requests Total Time: 318.8436143398285
SPARQL Avg Time per Qn: 0.7757752173718455

[reRank_relations]: what FSK 12 rated 3D film cost the most
SPARQL Requests Made: 1125
SPARQL Requests Total Time: 862.86257147789
SPARQL Avg Time per Qn: 0.7669889524247911

[reRank_relations]: what FSK 12 rated 3D film cost the most
SPARQL Requests Made: 443
SPARQL Requests Total Time: 342.6494998931885
SPARQL Avg Time per Qn: 0.7734751690591162

[reRank_relations]: wHAT IS THE MAXIMUM FREQUENCY OF EVENT RACE
SPARQL Requests Made: 1041
SPARQL Requests Total Time: 801.5107004642487
SPARQL Avg Time per Qn: 0.7699430359887115

Index error, no label found for
wd::Q3521547

Index error, no label found for
wdt::P1432

Index error, no label found for
wdt::P134

Index error, no label found for
wdt::P134

Link batch time: 2631.383961200714
Anno batch time: 710.3114235401154
Conv batch time: 0.0025446414947509766
Pipeline iter 150
Pipeline iter 151
Pipeline iter 152
Pipeline iter 153
Pipeline iter 154
Pipeline iter 155
Pipeline iter 156
Pipeline iter 157
Pipeline iter 158
Pipeline iter 159
Pipeline iter 160
Pipeline iter 161
Pipeline iter 162
Pipeline iter 163
Pipeline iter 164
Pipeline iter 165
Pipeline iter 166
Pipeline iter 167
Pipeline iter 168
Pipeline iter 169
Pipeline iter 170
Pipeline iter 171
Pipeline iter 172
Pipeline iter 173
Pipeline iter 174
Pipeline iter 175
Pipeline iter 176
Pipeline iter 177
Pipeline iter 178
Pipeline iter 179
Pipeline iter 180
Pipeline iter 181
Pipeline iter 182
Pipeline iter 183
Pipeline iter 184
Pipeline iter 185
Pipeline iter 186
Pipeline iter 187
Pipeline iter 188
Pipeline iter 189
Pipeline iter 190
Pipeline iter 191
Pipeline iter 192
Pipeline iter 193
Pipeline iter 194
Pipeline iter 195
Pipeline iter 196
Pipeline iter 197
Pipeline iter 198
Pipeline iter 199
[Pipeline1]: Linking 149-199
151 : ['When was iTunes version 12.7.5 published?']
151 : ['Dennis M. Ritchie outlined which organized programming language?']
151 : ['How does Mickey Mouse feature in the creative work of Ben Sharpsteen?']
151 : ['What is the the symbol for stock 0700 in Tencent?']
151 : ['What is the head of state of the Soviet Union?']
151 : ['What award did Dawn Fraser get in the 1960 Olympics?']
151 : ['What is the parent organization for the Universal Court of Justice?']
151 : ['When was the start of Sarajevos?']
151 : ['What did Michelle Bachelet do on 6/1/1978?']
151 : ['Which is the solubility of methyl chloride in water?']
151 : ['Delaware rivers drains from what 5 us states']
151 : ['Which birth dialect is Chizoba Ejike?']
151 : ['What is the ionization energy of the nicotine?']
151 : ['Is tuberculosis prevalent?']
151 : ['Who were the creators for the language of the original work of Star Trek Into Darkness?']
151 : ['Who is the companion of Aaliyah and when did they divorce?']
151 : ['What is {inhabitants} {nationality} of {Leopold von Sacher-Masoch} ?']
151 : ['What is the Columbia University affiliation building?']
151 : ['What is the smallest French city in time zone UTC+01:00?']
151 : ['What district in the city has the MAX number of houses whose instance is in the district of the city?']
151 : ['What is Bram Stokers occupation and field of work and did he work in Dublin Castle?']
151 : ['How numerous seasons of Handball-Bundesliga are there?']
151 : ['What is region of house of Wangari Maathai,that has inflation charge of client fee index as 2.9?']
151 : ['What kid did Pompey and Mucia Tertia have?']
151 : ['Title an alcoholic refreshment that contains the word rum  in its name']
151 : ['how many vienna in terminus']
151 : ['What is within the locale of Paroo Stream, that isolates into Ku-ring-gai Committee?']
151 : ['Since Aug. 25th, 1992 this has been the ister city of Changchun?']
151 : ['Can you tell me the amount of lakes are rivers attached to Lake Urmia?']
151 : ['Disclose to me soil type whose name has the word vertisol in it.']
151 : ['What is Lizzy Yarnolds TheSports.org athlete ID?']
151 : ['What is { grant gotten } from { Justin Timberlake } thats { point in time } is { 2007 - - }?']

Encountered value error line 51 of main.py: 's' is not in list

152 : ['Which devout concept begins with the letter t']
153 : ['Is the equivalent of the Father of All Bombs explosive energy less than 52.8?']
154 : ['when was Abigail Adamss child born?']

155 : ['Does the Becherovka liquor by volume less than 30.4']
[reRank_relations]: which birth dialect is Chizoba Ejike
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
156 : ['What are the prefecture-level metropolis which start with the letter rmqi']

157 : ['Tell me the ceremony in which the word umhlanga is named']

158 : ['Which is {played as} of {image} of {disparity} ?']
Encountered ValueError on line 457 of main.py: 's' is not in list

[reRank_relations]: what is within the locale of Paroo Stream, that isolates into Ku-ring-gai Committee
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
159 : ['What is the League of Legends runtime edition?']
[reRank_relations]: what is the head of state of the Soviet Union
SPARQL Requests Made: 1
SPARQL Requests Total Time: 0.8189325332641602
SPARQL Avg Time per Qn: 0.8189325332641602
160 : ['What is the title of the Dutch civil coat of arms of Amsterdam?']
161 : ['Which is the sauce that originated in Korea?']

162 : ['Who are the depositors with the United Nations Secretary-General?']

163 : ['Which is the electric charge for antihydrogen?']
164 : ['Who gave the {is appeared in} of {based upon} of {Clark Kent} ?']

[reRank_relations]: what is {inhabitants} {nationality} of {Leopold von Sacher-Masoch}
SPARQL Requests Made: 2
SPARQL Requests Total Time: 1.4849274158477783
SPARQL Avg Time per Qn: 0.7424637079238892
165 : ['How far to the west are we located?']

[reRank_relations]: which is the electric charge for Antihydrogen
SPARQL Requests Made: 1
SPARQL Requests Total Time: 0.730435848236084
SPARQL Avg Time per Qn: 0.730435848236084
166 : ['Disclose me national association football team whose name has the word team in it.']
[reRank_relations]: which is the solubility of methyl chloride in water
SPARQL Requests Made: 2
SPARQL Requests Total Time: 1.5219779014587402
SPARQL Avg Time per Qn: 0.7609889507293701
167 : ['Tell me the most high-quality work of Christopher Hitchens and additionally the publisher.']

168 : ['What is the INSEE countries and foreign territories code for the Democratic Republic of Congo?']
[reRank_relations]: when was Abigail Adamss child born
SPARQL Requests Made: 2
SPARQL Requests Total Time: 1.4863476753234863
SPARQL Avg Time per Qn: 0.7431738376617432

[reRank_relations]: what kid did Pompey and Mucia Tertia have
SPARQL Requests Made: 3
SPARQL Requests Total Time: 2.310882329940796
SPARQL Avg Time per Qn: 0.7702941099802653
[reRank_relations]: what kid did Pompey and Mucia Tertia have
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
[reRank_relations]: what kid did Pompey and Mucia Tertia have
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0

[reRank_relations]: when was Abigail Adamss child born
SPARQL Requests Made: 1
SPARQL Requests Total Time: 0.7532727718353271
SPARQL Avg Time per Qn: 0.7532727718353271

[reRank_relations]: when was Abigail Adamss child born
SPARQL Requests Made: 1
SPARQL Requests Total Time: 0.7483851909637451
SPARQL Avg Time per Qn: 0.7483851909637451

[reRank_relations]: what district in the city has the MAX number of houses whose instance is in the district of the city
SPARQL Requests Made: 4
SPARQL Requests Total Time: 3.0377700328826904
SPARQL Avg Time per Qn: 0.7594425082206726

[reRank_relations]: delaware rivers drains from what 5 us states
SPARQL Requests Made: 14
SPARQL Requests Total Time: 10.62484860420227
SPARQL Avg Time per Qn: 0.7589177574430194

[reRank_relations]: which is the Sauce that originated in Korea
SPARQL Requests Made: 13
SPARQL Requests Total Time: 11.350723266601562
SPARQL Avg Time per Qn: 0.8731325589693509

[reRank_relations]: who is the companion of Aaliyah and when did they divorce
SPARQL Requests Made: 15
SPARQL Requests Total Time: 11.620469331741333
SPARQL Avg Time per Qn: 0.7746979554494222

[reRank_relations]: what is the parent organization for the Universal Court of Justice
SPARQL Requests Made: 16
SPARQL Requests Total Time: 12.359638690948486
SPARQL Avg Time per Qn: 0.7724774181842804

[reRank_relations]: when was the start of Sarajevos
SPARQL Requests Made: 15
SPARQL Requests Total Time: 12.739383459091187
SPARQL Avg Time per Qn: 0.8492922306060791
[main:Evaluiate Error] invalid literal for int() with base 10: 'roperty:P569'

[reRank_relations]: who were the creators for the language of the original work of Star Trek Into Darkness
SPARQL Requests Made: 16
SPARQL Requests Total Time: 12.24752688407898
SPARQL Avg Time per Qn: 0.7654704302549362

[reRank_relations]: who were the creators for the language of the original work of Star Trek Into Darkness
SPARQL Requests Made: 1
SPARQL Requests Total Time: 0.7431206703186035
SPARQL Avg Time per Qn: 0.7431206703186035

[reRank_relations]: what district in the city has the MAX number of houses whose instance is in the district of the city
SPARQL Requests Made: 17
SPARQL Requests Total Time: 13.199965953826904
SPARQL Avg Time per Qn: 0.7764685855192297

[reRank_relations]: what district in the city has the MAX number of houses whose instance is in the district of the city
SPARQL Requests Made: 4
SPARQL Requests Total Time: 3.0497279167175293
SPARQL Avg Time per Qn: 0.7624319791793823

[reRank_relations]: does the Becherovka liquor by volume less than 304
SPARQL Requests Made: 29
SPARQL Requests Total Time: 21.747265100479126
SPARQL Avg Time per Qn: 0.7499056931199699

[reRank_relations]: dennis M Ritchie outlined which organized programming language
SPARQL Requests Made: 30
SPARQL Requests Total Time: 22.78761315345764
SPARQL Avg Time per Qn: 0.7595871051152547

[reRank_relations]: what district in the city has the MAX number of houses whose instance is in the district of the city
SPARQL Requests Made: 17
SPARQL Requests Total Time: 12.79568600654602
SPARQL Avg Time per Qn: 0.7526874121497659

[reRank_relations]: what is { grant gotten } from { Justin Timberlake } thats { point in time } is { 2007 - - }
SPARQL Requests Made: 41
SPARQL Requests Total Time: 31.33620572090149
SPARQL Avg Time per Qn: 0.7642977005097924

[reRank_relations]: title an alcoholic refreshment that contains the word rum  in its name
SPARQL Requests Made: 46
SPARQL Requests Total Time: 34.74519944190979
SPARQL Avg Time per Qn: 0.7553304226502128

[reRank_relations]: what is the title of the Dutch civil coat of arms of Amsterdam
SPARQL Requests Made: 46
SPARQL Requests Total Time: 35.183937549591064
SPARQL Avg Time per Qn: 0.7648682075998058

[reRank_relations]: how far to the west are we located
SPARQL Requests Made: 46
SPARQL Requests Total Time: 35.03489899635315
SPARQL Avg Time per Qn: 0.7616282390511554

[reRank_relations]: what are the prefecture-level metropolis which start with the letter rmqi
SPARQL Requests Made: 52
SPARQL Requests Total Time: 41.50300931930542
SPARQL Avg Time per Qn: 0.7981347946020273

[reRank_relations]: what is { grant gotten } from { Justin Timberlake } thats { point in time } is { 2007 - - }
SPARQL Requests Made: 18
SPARQL Requests Total Time: 13.89542031288147
SPARQL Avg Time per Qn: 0.7719677951600816

[reRank_relations]: when was iTunes version 1275 published
SPARQL Requests Made: 67
SPARQL Requests Total Time: 51.908525228500366
SPARQL Avg Time per Qn: 0.7747541078880652

[reRank_relations]: what award did Dawn Fraser get in the 1960 Olympics
SPARQL Requests Made: 74
SPARQL Requests Total Time: 56.38650131225586
SPARQL Avg Time per Qn: 0.761979747462917
[reRank_relations]: what award did Dawn Fraser get in the 1960 Olympics
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0

[reRank_relations]: tell me the ceremony in which the word umhlanga is named
SPARQL Requests Made: 88
SPARQL Requests Total Time: 67.8900318145752
SPARQL Avg Time per Qn: 0.7714776342565363

[reRank_relations]: dennis M Ritchie outlined which organized programming language
SPARQL Requests Made: 60
SPARQL Requests Total Time: 46.6750226020813
SPARQL Avg Time per Qn: 0.7779170433680217

[reRank_relations]: dennis M Ritchie outlined which organized programming language
SPARQL Requests Made: 6
SPARQL Requests Total Time: 4.776344299316406
SPARQL Avg Time per Qn: 0.796057383219401

[reRank_relations]: how does Mickey Mouse feature in the creative work of Ben Sharpsteen
SPARQL Requests Made: 103
SPARQL Requests Total Time: 80.46511340141296
SPARQL Avg Time per Qn: 0.7812146932176016
[reRank_relations]: how does Mickey Mouse feature in the creative work of Ben Sharpsteen
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0

[reRank_relations]: what is region of house of Wangari Maathai,that has inflation charge of client fee index as 29
SPARQL Requests Made: 166
SPARQL Requests Total Time: 126.71958875656128
SPARQL Avg Time per Qn: 0.7633710166057909

[reRank_relations]: how does Mickey Mouse feature in the creative work of Ben Sharpsteen
SPARQL Requests Made: 90
SPARQL Requests Total Time: 68.99010872840881
SPARQL Avg Time per Qn: 0.7665567636489868

[reRank_relations]: what is region of house of Wangari Maathai,that has inflation charge of client fee index as 29
SPARQL Requests Made: 50
SPARQL Requests Total Time: 38.13405132293701
SPARQL Avg Time per Qn: 0.7626810264587403

[reRank_relations]: what is the the symbol for stock 0700 in Tencent
SPARQL Requests Made: 225
SPARQL Requests Total Time: 172.34843707084656
SPARQL Avg Time per Qn: 0.7659930536482069

[reRank_relations]: what is the League of Legends runtime edition
SPARQL Requests Made: 225
SPARQL Requests Total Time: 172.54088878631592
SPARQL Avg Time per Qn: 0.7668483946058485

[reRank_relations]: what is the ionization energy of the Nicotine
SPARQL Requests Made: 225
SPARQL Requests Total Time: 172.2332365512848
SPARQL Avg Time per Qn: 0.7654810513390435

[reRank_relations]: what did Michelle Bachelet do on 6/1/1978
SPARQL Requests Made: 238
SPARQL Requests Total Time: 181.97979617118835
SPARQL Avg Time per Qn: 0.7646209923159174

[reRank_relations]: can you tell me the amount of lakes are rivers attached to Lake Urmia
SPARQL Requests Made: 298
SPARQL Requests Total Time: 230.46984148025513
SPARQL Avg Time per Qn: 0.7733887297995139
[reRank_relations]: can you tell me the amount of lakes are rivers attached to Lake Urmia
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0

[reRank_relations]: title an alcoholic refreshment that contains the word rum  in its name
SPARQL Requests Made: 256
SPARQL Requests Total Time: 194.862313747406
SPARQL Avg Time per Qn: 0.7611809130758047

[reRank_relations]: tell me the most high-quality work of Christopher Hitchens and additionally the publisher
SPARQL Requests Made: 338
SPARQL Requests Total Time: 261.73385667800903
SPARQL Avg Time per Qn: 0.7743605227160031

[reRank_relations]: who gave the {is appeared in} of {based upon} of {Clark Kent}
SPARQL Requests Made: 358
SPARQL Requests Total Time: 275.85796999931335
SPARQL Avg Time per Qn: 0.7705529888248976

[reRank_relations]: what is Bram Stokers occupation and field of work and did he work in Dublin Castle
SPARQL Requests Made: 392
SPARQL Requests Total Time: 301.7969436645508
SPARQL Avg Time per Qn: 0.7698901624095683

[reRank_relations]: which devout concept begins with the letter t
SPARQL Requests Made: 390
SPARQL Requests Total Time: 302.21473240852356
SPARQL Avg Time per Qn: 0.7749095702782656

[reRank_relations]: what is Lizzy Yarnolds TheSportsorg athlete ID
SPARQL Requests Made: 452
SPARQL Requests Total Time: 347.4781789779663
SPARQL Avg Time per Qn: 0.7687570331370936

[reRank_relations]: who gave the {is appeared in} of {based upon} of {Clark Kent}
SPARQL Requests Made: 151
SPARQL Requests Total Time: 117.92463254928589
SPARQL Avg Time per Qn: 0.7809578314522244

[reRank_relations]: who gave the {is appeared in} of {based upon} of {Clark Kent}
SPARQL Requests Made: 235
SPARQL Requests Total Time: 181.36849880218506
SPARQL Avg Time per Qn: 0.7717808459667449

[reRank_relations]: what is Bram Stokers occupation and field of work and did he work in Dublin Castle
SPARQL Requests Made: 392
SPARQL Requests Total Time: 303.1011781692505
SPARQL Avg Time per Qn: 0.773217291248088

[reRank_relations]: what is Bram Stokers occupation and field of work and did he work in Dublin Castle
SPARQL Requests Made: 340
SPARQL Requests Total Time: 263.2390937805176
SPARQL Avg Time per Qn: 0.7742326287662282

[reRank_relations]: what is Bram Stokers occupation and field of work and did he work in Dublin Castle
SPARQL Requests Made: 340
SPARQL Requests Total Time: 263.6725769042969
SPARQL Avg Time per Qn: 0.7755075791302849

Index error, no label found for
wd::Q21197460

Index error, no label found for
wd::Q1203156

Index error, no label found for
wd::Q8565885

Link batch time: 2260.538151025772
Anno batch time: 497.7751259803772
Conv batch time: 0.0026161670684814453
Pipeline iter 200
Pipeline iter 201
Pipeline iter 202
Pipeline iter 203
Pipeline iter 204
Pipeline iter 205
Pipeline iter 206
Pipeline iter 207
Pipeline iter 208
Pipeline iter 209
Pipeline iter 210
Pipeline iter 211
Pipeline iter 212
Pipeline iter 213
Pipeline iter 214
Pipeline iter 215
Pipeline iter 216
Pipeline iter 217
Pipeline iter 218
Pipeline iter 219
Pipeline iter 220
Pipeline iter 221
Pipeline iter 222
Pipeline iter 223
Pipeline iter 224
Pipeline iter 225
Pipeline iter 226
Pipeline iter 227
Pipeline iter 228
Pipeline iter 229
Pipeline iter 230
Pipeline iter 231
Pipeline iter 232
Pipeline iter 233
Pipeline iter 234
Pipeline iter 235
Pipeline iter 236
Pipeline iter 237
Pipeline iter 238
Pipeline iter 239
Pipeline iter 240
Pipeline iter 241
Pipeline iter 242
Pipeline iter 243
Pipeline iter 244
Pipeline iter 245
Pipeline iter 246
Pipeline iter 247
Pipeline iter 248
Pipeline iter 249
[Pipeline1]: Linking 199-249
199 : ['What is the warheroes.ru ID for Yuri Gagarin?']

Encountered value error line 51 of main.py: 's' is not in list

200 : ['When is John X believed to have died?']

201 : ['Which is the benefactor holy person of the put of passing of Anna de Medici?']

202 : ['Is the fee for Harvard University is less than 90?']
[reRank_relations]: what number of shogun military ranks exist
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
203 : ['What is BIA PSY person ID for Carl Rogers ?']
204 : ['Who is the captain of F.C. Porto?']
205 : ['What are the independent locale of the Peoples Republic of China which begin with the letter X']
Encountered ValueError on line 457 of main.py: 's' is not in list

[reRank_relations]: out of the archives, which are for Grace Hopper
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
206 : ['where is the  Marseille is located in?']
[reRank_relations]: when was Gordon Lightfoot nominated and for what
SPARQL Requests Made: 1
SPARQL Requests Total Time: 0.7729780673980713
SPARQL Avg Time per Qn: 0.7729780673980713
[reRank_relations]: when was Gordon Lightfoot nominated and for what
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
207 : ['Which award was given to both Harry Martinson and Eyvind Johnson?']
[reRank_relations]: what did Sidney Crosby draft
SPARQL Requests Made: 1
SPARQL Requests Total Time: 0.7676956653594971
SPARQL Avg Time per Qn: 0.7676956653594971
[reRank_relations]: what did Sidney Crosby draft
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
208 : ['Say the headquarter area of the Russian Standard Church monastery.']

[reRank_relations]: which is the total equity of Micron Technology
SPARQL Requests Made: 1
SPARQL Requests Total Time: 0.7442233562469482
SPARQL Avg Time per Qn: 0.7442233562469482
209 : ['What is Bandysidan player ID for Sergey Lomanov ?']
[reRank_relations]: when is John X believed to have died
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
[reRank_relations]: who is the child of Jacob Conover
SPARQL Requests Made: 1
SPARQL Requests Total Time: 0.8199143409729004
SPARQL Avg Time per Qn: 0.8199143409729004
[reRank_relations]: who is the child of Jacob Conover
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
210 : ['Who are the scholars of the scholastic subject Ten basic rules for altering Wikipedia?']

211 : ['Title the female who found the Horsehead Cloud.']

212 : ['Name a fruit composed of Citrullus lanatus that starts offevolved with letter W']
[reRank_relations]: where is the  Marseille is located in
SPARQL Requests Made: 1
SPARQL Requests Total Time: 0.7584254741668701
SPARQL Avg Time per Qn: 0.7584254741668701
213 : ['Which conflict is depicted by the Raising of the Flag on Iwo Jima?']

214 : ['What what is unary operation notation by using crucial symbol and which that starts offevolved with {i}']

Encountered value error line 51 of main.py: 'led' is not in list
Encountered value error line 51 of main.py: 'led' is not in list
Encountered value error line 51 of main.py: 'sent' is not in list
Encountered value error line 51 of main.py: 'halted' is not in list
Encountered value error line 51 of main.py: 'ran' is not in list
Encountered value error line 51 of main.py: 'ran' is not in list
Encountered value error line 51 of main.py: 'ran' is not in list
Encountered value error line 51 of main.py: 'ran' is not in list
Encountered value error line 51 of main.py: 'ran' is not in list
Encountered value error line 51 of main.py: 'ran' is not in list
Encountered value error line 51 of main.py: 'ran' is not in list
Encountered value error line 51 of main.py: 'ran' is not in list
Encountered value error line 51 of main.py: 'ran' is not in list
Encountered value error line 51 of main.py: 'led' is not in list
Encountered value error line 51 of main.py: 'led' is not in list
Encountered value error line 51 of main.py: 'sent' is not in list
Encountered value error line 51 of main.py: 'end' is not in list
Encountered value error line 51 of main.py: 'end' is not in list
Encountered value error line 51 of main.py: 'use' is not in list
Encountered value error line 51 of main.py: 'use' is not in list
Encountered value error line 51 of main.py: 'use' is not in list
Encountered value error line 51 of main.py: 'sent' is not in list
Encountered value error line 51 of main.py: 'sent' is not in list
Encountered value error line 51 of main.py: 'sent' is not in list
Encountered value error line 51 of main.py: 'nickel' is not in list
Encountered value error line 51 of main.py: 'nickel' is not in list
Encountered value error line 51 of main.py: 'lack' is not in list
Encountered value error line 51 of main.py: 'lack' is not in list
Encountered value error line 51 of main.py: 'lack' is not in list
Encountered value error line 51 of main.py: 'use' is not in list
Encountered value error line 51 of main.py: 'use' is not in list
Encountered value error line 51 of main.py: 'use' is not in list
Encountered value error line 51 of main.py: 'use' is not in list
Encountered value error line 51 of main.py: 'use' is not in list
Encountered value error line 51 of main.py: 'use' is not in list
Encountered value error line 51 of main.py: 'Breen' is not in list
Encountered value error line 51 of main.py: 'Breen' is not in list
Encountered value error line 51 of main.py: 'Breen' is not in list
Encountered value error line 51 of main.py: 'Breen' is not in list
Encountered value error line 51 of main.py: 'Breen' is not in list
Encountered value error line 51 of main.py: 'Breen' is not in list
Encountered value error line 51 of main.py: 'Breen' is not in list
Encountered value error line 51 of main.py: 'Breen' is not in list

[reRank_relations]: which conflict is depicted by the Raising of the Flag on Iwo Jima
SPARQL Requests Made: 1
SPARQL Requests Total Time: 0.7416079044342041
SPARQL Avg Time per Qn: 0.7416079044342041

[reRank_relations]: which award was given to both Harry Martinson and Eyvind Johnson
SPARQL Requests Made: 2
SPARQL Requests Total Time: 1.6714694499969482
SPARQL Avg Time per Qn: 0.8357347249984741

[reRank_relations]: where was Michael J Fox born
SPARQL Requests Made: 4
SPARQL Requests Total Time: 2.990783214569092
SPARQL Avg Time per Qn: 0.747695803642273
215 : ['What is being handled in an person with arteriosclerosis?']

[reRank_relations]: which award was given to both Harry Martinson and Eyvind Johnson
SPARQL Requests Made: 2
SPARQL Requests Total Time: 1.5290579795837402
SPARQL Avg Time per Qn: 0.7645289897918701
[reRank_relations]: which award was given to both Harry Martinson and Eyvind Johnson
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
[reRank_relations]: which award was given to both Harry Martinson and Eyvind Johnson
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0
216 : ['What is the category for recipients for the Noble Prize?']

217 : ['What as the 1996 Venezuelan inflation rate?']

[reRank_relations]: which is the benefactor holy person of the put of passing of Anna de Medici
SPARQL Requests Made: 9
SPARQL Requests Total Time: 7.238804817199707
SPARQL Avg Time per Qn: 0.804311646355523

[reRank_relations]: what grant was gotten Mary Tyler Moore
SPARQL Requests Made: 16
SPARQL Requests Total Time: 12.518074035644531
SPARQL Avg Time per Qn: 0.7823796272277832
[reRank_relations]: what grant was gotten Mary Tyler Moore
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0

[reRank_relations]: which is the narrative location of Siddhartha
SPARQL Requests Made: 16
SPARQL Requests Total Time: 13.5192232131958
SPARQL Avg Time per Qn: 0.8449514508247375

[reRank_relations]: what is Bandysidan player ID for Sergey Lomanov
SPARQL Requests Made: 16
SPARQL Requests Total Time: 12.419549703598022
SPARQL Avg Time per Qn: 0.7762218564748764
[reRank_relations]: what is Bandysidan player ID for Sergey Lomanov
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0

[reRank_relations]: which conflict is depicted by the Raising of the Flag on Iwo Jima
SPARQL Requests Made: 15
SPARQL Requests Total Time: 11.597915172576904
SPARQL Avg Time per Qn: 0.7731943448384603

[reRank_relations]: strabos student was Presumably known as who
SPARQL Requests Made: 26
SPARQL Requests Total Time: 20.907926082611084
SPARQL Avg Time per Qn: 0.8041510031773493

[reRank_relations]: where is the put of Tartuffes to begin with execution with the most remote east facilitates of 488363848 24697602
SPARQL Requests Made: 30
SPARQL Requests Total Time: 23.25009846687317
SPARQL Avg Time per Qn: 0.7750032822291056

[reRank_relations]: who are the scholars of the scholastic subject Ten basic rules for altering Wikipedia
SPARQL Requests Made: 30
SPARQL Requests Total Time: 23.269452810287476
SPARQL Avg Time per Qn: 0.7756484270095825

[reRank_relations]: who is the captain of FC Porto
SPARQL Requests Made: 33
SPARQL Requests Total Time: 25.359739780426025
SPARQL Avg Time per Qn: 0.7684769630432129

[reRank_relations]: title the female who found the Horsehead Cloud
SPARQL Requests Made: 42
SPARQL Requests Total Time: 34.04772663116455
SPARQL Avg Time per Qn: 0.8106601578848702

[reRank_relations]: what is BIA PSY person ID for Carl Rogers
SPARQL Requests Made: 46
SPARQL Requests Total Time: 35.91165614128113
SPARQL Avg Time per Qn: 0.7806881769843723
[reRank_relations]: what is BIA PSY person ID for Carl Rogers
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0

[reRank_relations]: what is being handled in an person with arteriosclerosis
SPARQL Requests Made: 60
SPARQL Requests Total Time: 47.86288905143738
SPARQL Avg Time per Qn: 0.7977148175239563

[reRank_relations]: were there 0 matches, games drawn and tied during the 2001 British and Irish Lions tour
SPARQL Requests Made: 64
SPARQL Requests Total Time: 49.85444927215576
SPARQL Avg Time per Qn: 0.7789757698774338

[reRank_relations]: when did Podgorica start as Principality of Montenegro
SPARQL Requests Made: 72
SPARQL Requests Total Time: 56.641437292099
SPARQL Avg Time per Qn: 0.7866866290569305

[reRank_relations]: which nation housed the Indian Freedom Movement
SPARQL Requests Made: 80
SPARQL Requests Total Time: 63.25946378707886
SPARQL Avg Time per Qn: 0.7907432973384857

[reRank_relations]: which nation housed the Indian Freedom Movement
SPARQL Requests Made: 1
SPARQL Requests Total Time: 0.754849910736084
SPARQL Avg Time per Qn: 0.754849910736084

[reRank_relations]: what are the independent locale of the Peoples Republic of China which begin with the letter X
SPARQL Requests Made: 90
SPARQL Requests Total Time: 69.40241503715515
SPARQL Avg Time per Qn: 0.7711379448572795

[reRank_relations]: title the female who found the Horsehead Cloud
SPARQL Requests Made: 61
SPARQL Requests Total Time: 49.16921138763428
SPARQL Avg Time per Qn: 0.8060526456989225

[reRank_relations]: is the fee for Harvard University is less than 90
SPARQL Requests Made: 115
SPARQL Requests Total Time: 89.37160921096802
SPARQL Avg Time per Qn: 0.777144427921461

[reRank_relations]: when is John X believed to have died
SPARQL Requests Made: 124
SPARQL Requests Total Time: 95.1638445854187
SPARQL Avg Time per Qn: 0.7674503595598282

[reRank_relations]: what what is unary operation notation by using crucial symbol and which that starts Offevolved with {i}
SPARQL Requests Made: 130
SPARQL Requests Total Time: 104.49375653266907
SPARQL Avg Time per Qn: 0.8037981271743775
[reRank_relations]: what what is unary operation notation by using crucial symbol and which that starts Offevolved with {i}
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0

[reRank_relations]: who are Candice Bergens parents
SPARQL Requests Made: 143
SPARQL Requests Total Time: 111.18502974510193
SPARQL Avg Time per Qn: 0.7775176905251883

[reRank_relations]: which dialect composed from Romy Schneider, has the syntactic individual talking as the third individual plural
SPARQL Requests Made: 150
SPARQL Requests Total Time: 115.79844999313354
SPARQL Avg Time per Qn: 0.7719896666208903

[reRank_relations]: what is the utilize of playing World Rugby
SPARQL Requests Made: 180
SPARQL Requests Total Time: 138.08973288536072
SPARQL Avg Time per Qn: 0.7671651826964484

[reRank_relations]: title the female who found the Horsehead Cloud
SPARQL Requests Made: 106
SPARQL Requests Total Time: 82.78901934623718
SPARQL Avg Time per Qn: 0.781028484398464

[reRank_relations]: is Rolf - Axel Eberhardts stated age greater than 52
SPARQL Requests Made: 224
SPARQL Requests Total Time: 174.8166949748993
SPARQL Avg Time per Qn: 0.7804316739950862

[reRank_relations]: what number of shogun military ranks exist
SPARQL Requests Made: 225
SPARQL Requests Total Time: 177.56890869140625
SPARQL Avg Time per Qn: 0.7891951497395834

[reRank_relations]: tell me the architect and heritage designation of Westminster Palace
SPARQL Requests Made: 226
SPARQL Requests Total Time: 177.39624118804932
SPARQL Avg Time per Qn: 0.7849391203011031

[reRank_relations]: name a fruit composed of Citrullus lanatus that starts Offevolved with letter W
SPARQL Requests Made: 233
SPARQL Requests Total Time: 181.25376439094543
SPARQL Avg Time per Qn: 0.7779131518924697

[reRank_relations]: what what is unary operation notation by using crucial symbol and which that starts Offevolved with {i}
SPARQL Requests Made: 130
SPARQL Requests Total Time: 100.27537727355957
SPARQL Avg Time per Qn: 0.7713490559504582

[reRank_relations]: name a fruit composed of Citrullus lanatus that starts Offevolved with letter W
SPARQL Requests Made: 44
SPARQL Requests Total Time: 34.1705858707428
SPARQL Avg Time per Qn: 0.7766042243350636
[reRank_relations]: name a fruit composed of Citrullus lanatus that starts Offevolved with letter W
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0

[reRank_relations]: name a fruit composed of Citrullus lanatus that starts Offevolved with letter W
SPARQL Requests Made: 52
SPARQL Requests Total Time: 40.55845069885254
SPARQL Avg Time per Qn: 0.7799702057471642

[reRank_relations]: were there 0 matches, games drawn and tied during the 2001 British and Irish Lions tour
SPARQL Requests Made: 280
SPARQL Requests Total Time: 216.90163612365723
SPARQL Avg Time per Qn: 0.7746487004416329

[reRank_relations]: whats the name of Carlos Sauras wife whom he married in 2006
SPARQL Requests Made: 361
SPARQL Requests Total Time: 284.02067136764526
SPARQL Avg Time per Qn: 0.7867608625142528

[reRank_relations]: name a fruit composed of Citrullus lanatus that starts Offevolved with letter W
SPARQL Requests Made: 44
SPARQL Requests Total Time: 33.94371032714844
SPARQL Avg Time per Qn: 0.7714479619806464
[reRank_relations]: name a fruit composed of Citrullus lanatus that starts Offevolved with letter W
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0

[reRank_relations]: how many people do currently live in Aden
SPARQL Requests Made: 450
SPARQL Requests Total Time: 348.5675687789917
SPARQL Avg Time per Qn: 0.7745945972866483

[reRank_relations]: whats the name of Carlos Sauras wife whom he married in 2006
SPARQL Requests Made: 92
SPARQL Requests Total Time: 71.58612298965454
SPARQL Avg Time per Qn: 0.778110032496245

Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: '%' is not in list
Encountered ValueError on line 457 of main.py: '%' is not in list
Encountered ValueError on line 457 of main.py: '%' is not in list
Encountered ValueError on line 457 of main.py: '%' is not in list
Encountered ValueError on line 457 of main.py: '%' is not in list
Encountered ValueError on line 457 of main.py: '%' is not in list
Encountered ValueError on line 457 of main.py: '%' is not in list
Encountered ValueError on line 457 of main.py: '%' is not in list
Encountered ValueError on line 457 of main.py: '%' is not in list
Encountered ValueError on line 457 of main.py: '%' is not in list
Encountered ValueError on line 457 of main.py: '%' is not in list
Encountered ValueError on line 457 of main.py: '%' is not in list
Encountered ValueError on line 457 of main.py: '%' is not in list
Encountered ValueError on line 457 of main.py: '%' is not in list
Encountered ValueError on line 457 of main.py: '%' is not in list
Encountered ValueError on line 457 of main.py: '%' is not in list
Encountered ValueError on line 457 of main.py: '%' is not in list
Encountered ValueError on line 457 of main.py: '%' is not in list
Encountered ValueError on line 457 of main.py: '%' is not in list
Encountered ValueError on line 457 of main.py: '%' is not in list
Encountered ValueError on line 457 of main.py: '%' is not in list
Encountered ValueError on line 457 of main.py: '%' is not in list
Encountered ValueError on line 457 of main.py: '%' is not in list
Encountered ValueError on line 457 of main.py: '%' is not in list
Encountered ValueError on line 457 of main.py: '%' is not in list
Encountered ValueError on line 457 of main.py: '%' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'nickel' is not in list
Encountered ValueError on line 457 of main.py: 'nickel' is not in list
Encountered ValueError on line 457 of main.py: 'nickel' is not in list
Encountered ValueError on line 457 of main.py: 'nickel' is not in list
Encountered ValueError on line 457 of main.py: 'half' is not in list
Encountered ValueError on line 457 of main.py: 'half' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list
Encountered ValueError on line 457 of main.py: 'cent' is not in list

[reRank_relations]: name a fruit composed of Citrullus lanatus that starts Offevolved with letter W
SPARQL Requests Made: 135
SPARQL Requests Total Time: 104.21577763557434
SPARQL Avg Time per Qn: 0.7719687232264766

[reRank_relations]: which dialect composed from Romy Schneider, has the syntactic individual talking as the third individual plural
SPARQL Requests Made: 360
SPARQL Requests Total Time: 280.15268635749817
SPARQL Avg Time per Qn: 0.778201906548606

[reRank_relations]: title a Nonmetal found in Britain that begins with letter O
SPARQL Requests Made: 560
SPARQL Requests Total Time: 435.97306084632874
SPARQL Avg Time per Qn: 0.7785233229398727

[reRank_relations]: what position did John Hume hold, when was once he elected, and what function did he hold in the 53rd Parliament of the United Kingdom
SPARQL Requests Made: 611
SPARQL Requests Total Time: 475.30436158180237
SPARQL Avg Time per Qn: 0.7779122120815096

[reRank_relations]: how many people do currently live in Aden
SPARQL Requests Made: 230
SPARQL Requests Total Time: 177.26866173744202
SPARQL Avg Time per Qn: 0.7707333119019218

[reRank_relations]: which dialect composed from Romy Schneider, has the syntactic individual talking as the third individual plural
SPARQL Requests Made: 450
SPARQL Requests Total Time: 346.06132411956787
SPARQL Avg Time per Qn: 0.7690251647101508
[reRank_relations]: which dialect composed from Romy Schneider, has the syntactic individual talking as the third individual plural
SPARQL Requests Made: 0
SPARQL Requests Total Time: 0
SPARQL Avg Time per Qn: 0

[reRank_relations]: title a Nonmetal found in Britain that begins with letter O
SPARQL Requests Made: 586
SPARQL Requests Total Time: 453.2194812297821
SPARQL Avg Time per Qn: 0.773412084009867

[reRank_relations]: what position did John Hume hold, when was once he elected, and what function did he hold in the 53rd Parliament of the United Kingdom
SPARQL Requests Made: 918
SPARQL Requests Total Time: 706.6076555252075
SPARQL Avg Time per Qn: 0.7697251149512064

[reRank_relations]: title a Nonmetal found in Britain that begins with letter O
SPARQL Requests Made: 502
SPARQL Requests Total Time: 387.1869406700134
SPARQL Avg Time per Qn: 0.7712887264342897

[reRank_relations]: what position did John Hume hold, when was once he elected, and what function did he hold in the 53rd Parliament of the United Kingdom
SPARQL Requests Made: 611
SPARQL Requests Total Time: 467.17275643348694
SPARQL Avg Time per Qn: 0.7646035293510425

KeyboardInterrupt:

In [ ]:
# qns = ['What is the operating income for Qantas?', 'What is Mary Lou Rettons International Olympic Committee athlete ID.']
# l = linker.link_batch(qns)
# print(l)

In [ ]:
with open("home.json", "w") as f:
  json.dump(responses, f, indent=2 ,separators=(',', ': '))